.add-money-container {
  width: 583px;
  margin: 20px auto;

  .add-money-form {
    width: 100%;
    margin-top: 30px;
    padding: 22px;
    background: #ffffff;
    border-radius: 5px;

    input {
      border-radius: 0 !important;
      background: #e6e8ec94 !important;
      border-style: none;
      padding: 17px;
      height: 44px;
      font-size: 15px;
      border: none !important;

      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
      }

      &:focus {
        border: 0.1px solid #ea5726 !important;
        border-radius: 0 !important;
      }
    }

    button {
      width: 100%;
      background-color: #333556 !important;
      border-radius: 0;
      text-transform: uppercase;
      margin-top: 15px;
      padding: 17px;

      &:hover {
        background-color: #333556;
      }
      &:focus {
        background-color: #333556;
      }
    }

    .amount {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .amount-input {
        width: 80%;
        input {
          border: none;
        }
      }

      .currency {
        width: 15%;
        height: 44px;
        background-color: #e6e8ec94;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .card-number {
      display: flex;
      justify-content: space-between;
      margin-top: 6px;
      margin-bottom: 15px;
      .ui.input {
        width: 18% !important;
        input {
          text-align: center;
        }
      }
      .credit-card-type {
        width: 15%;
        height: 44px;
        background-color: #e6e8ec94;
        display: flex;
        justify-content: center;
        img {
          width: 50px;
        }
      }
    }

    .expiry-date {
      display: flex;
      margin-bottom: 10px;

      .cvv {
        margin-left: 13px;
      }

      .hasFocus {
        width: 0;
        height: 0;
        position: absolute;
        z-index: -9;
      }
    }
  }
  .ui.form .field > .selection.dropdown {
    background: #e6e8ec94;
    min-width: 20px;
    border-radius: 0;
    border: none;
    height: 44px;
    display: flex;
    align-items: center;
  }
  .ui.form .field > .selection.dropdown > .dropdown.icon {
    top: 1.1em;
  }
  .ui[class*='left icon'].input > i.icon {
    left: -9px;
  }
}
thead tr th[colspan='7'] {
  display: none;
}

.ui.table[class*='center aligned'] {
  width: fit-content !important;
  min-width: fit-content !important;
}

@media (max-width: 950px) {
  .add-money-container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .add-money-container {
    width: 100%;

    .add-money-form {
      .amount {
        width: 100%;

        .amount-input {
          width: 73%;
        }

        .currency {
          width: 23%;

          div {
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
          }
        }
      }
    }

    .card-number {
      .ui.input {
        width: 18% !important;
        input {
          padding: 0;
          text-align: center;
        }
      }
      .credit-card-type {
        width: 15%;
        height: 44px;
        background-color: #e6e8ec94;
        display: flex;
        justify-content: center;
        img {
          width: 50px;
        }
      }
    }
  }

  @media (max-width: 330px) {
  }
}
