.add-money-modal {
  .header {
    text-align: center !important;
    font-weight: 300 !important;
    font-size: 16px !important;
  }

  .content {
    padding: 49px 1.5rem !important;
    min-height: 100px;

    .total-amount {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 16px;

      .amount {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .transaction-fees {
      display: flex;
      justify-self: center;
      text-align: center;
      color: #ea5726;
      padding: 0 35px;

      img {
        object-fit: contain;
      }

      .amount {
        font-weight: 500;
      }
    }

    .success-message {
      height: 200%;
      width: 69%;
      margin: 0 auto;
      background: #f1f1f1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      span {
        text-align: center;
      }

      .message {
        margin: 0 0 1.5rem 0;
      }

      .successful {
        font-weight: 500;
        font-size: 20px;
        margin: 1.5rem 0;
      }
    }

    .loading {
      display: flex;
      justify-content: center;
    }
  }

  .success-content {
    padding: 0 !important;
  }

  .error-content {
    padding: 0 !important;
  }

  .actions {
    .button {
      font-weight: 300;
      font-size: 16px;
    }
  }
}

@media (max-width: 950px) {
  .add-money-modal {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .add-money-modal {
    .content {
      .transaction-fees {
        padding: 0;
      }
      .success-message {
        width: 95%;
      }
    }
  }

  @media (max-width: 330px) {
  }
}
