.otp-form {
  .otp-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px !important;
    .otp-input {
      width: 15% !important;
    }
  }
  .ui.button {
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: none;
    color: #ea5726;
    margin: 0;
    padding: 0;
  }
}
