.otp-form-container {
  .otp-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px !important;
    .otp-input {
      width: 15% !important;
      height: 42px;
      input {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
      }
    }
  }
  .ui.button {
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: none;
    color: #ea5726;
    margin: 0;
    padding: 0;
  }

  .ui.input input[name='OTP'] {
    letter-spacing: 33px !important;
    padding-left: 32px;
    font-weight: bold !important;
  }
}
