.table-heading {
  display: flex !important;
  max-width: 605px;
  width: 100%;
  .refresh-button {
    width: 40px;
    margin-left: -3px;
    button {
      width: 100%;
      margin-top: 1px;
      background-color: #f1f2f6 !important;
      height: 38px;
    }
  }
}
@media (max-width: 880px) {
  .table-heading {
    flex-wrap: wrap;
  }
}
