.page-wrapper {
  background: #353535;
  background-image: url('../../../assets/images/BGAuth.png');
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 996px 232px;
  background-repeat: repeat-x;
  position: relative;
}
.page-wrapper::before {
  background-image: url('../../../assets/images/BGShadow.png');
  background-position: center center;
  background-attachment: scroll;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.wrap-top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
  height: 120px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  .main-logo {
    width: 200px;
    float: left;
    margin: 10px 20px;
    padding: 10px;
    img {
      max-width: 100%;
    }
  }
  .lang-dropdown {
    margin: 20px;
    width: 120px;
    float: right;
    padding: 10px auto;
    font-size: 16px;
    .lang-text {
      color: #ffffff !important;
    }
  }
}
.wrap-auth-section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
}
.auth-register-box,
.auth-login-box {
  margin: 0 auto;
  display: block;
  width: 96%;
}
.auth-register-box {
  padding-top: 4vh;
  max-width: 500px;
}
.auth-login-box {
  padding-top: 12vh;
  max-width: 370px;
}
.wrap-auth {
  padding: 40px 30px 20px 30px;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 30px 0 0 0;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}
.btn-auth {
  width: 100%;
  margin: 2px 0 8px 0;
  border-radius: 4px;
  display: block;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  cursor: pointer !important;
  color: #e21a22;
  border: 2px solid #e21a22;
  background: #ffffff !important;
}
.btn-auth-primary {
  color: #ffffff !important;
  border: 2px solid #e21a22 !important;
  background: #e21a22 !important;
}
.btn-auth:disabled {
  pointer-events: none !important;
}
.auth-terms {
  margin: 20px auto;
  padding: 30px 20px;
  text-align: center;
  color: #ffffff;
  a {
    color: #ffffff;
    font-weight: bold;
  }
}
.go-back {
  margin: 6px 0 12px 0;
  button {
    border: 1px solid #cdcdcd;
    padding: 8px 12px;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    color: #787878;
  }
}
@media screen and (max-width: 920px) {
  .persona-background,
  .phone-background {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .main-logo {
    width: 48% !important;
    margin: 10px 0 !important;
    padding: 10px 2%;
    img {
      max-width: 120px !important;
    }
  }
  .lang-dropdown {
    width: 50%;
    margin: 10px 0 !important;
  }
}

.persona-background {
  position: fixed;
  right: 0px;
  z-index: 0;
  bottom: 0px;
  img {
    width: 400px;
  }
}
.phone-background {
  position: fixed;
  left: 0px;
  z-index: 0;
  bottom: 0px;
  img {
    width: 340px;
  }
}
@media screen and (max-device-aspect-ratio: 16/9) {
  .persona-background {
    img {
      width: 550px;
    }
  }
  .phone-background {
    img {
      width: 450px;
    }
  }
}
@media screen and (min-device-aspect-ratio: 16/9) {
  .persona-background {
    img {
      width: 380px;
    }
  }
  .phone-background {
    img {
      width: 340px;
    }
  }
}
