.os-header {
  z-index: 2;
  height: 80px;
  position: fixed;
  background: rgb(237, 241, 251);
  background: linear-gradient(
    0deg,
    rgba(237, 241, 251, 0) 0%,
    rgba(237, 241, 251, 0.542454481792717) 50%,
    rgba(237, 241, 251, 0.9122023809523809) 100%
  );
  padding: 5px 0;
  left: 0;
  width: 100%;
  .logo {
    width: 180px;
  }
}
.os-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
}
.auth-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.wrap-auth {
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 45px;
  margin: 25px 0;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 400px;
  .auth-sub-text {
    padding: 10px 0 15px 0;
  }
  .go-back {
    margin: 6px 0 12px 0;
    button {
      border: 1px solid #cdcdcd;
      padding: 8px 12px;
      border-radius: 4px;
      background: #ffffff;
      cursor: pointer;
      color: #787878;
    }
  }
}
.wrap-event {
  padding: 0 45px 0 0;
  img {
    width: 100%;
    height: auto;
  }
}
.btn-auth {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  display: block;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff !important;
  cursor: pointer !important;
}
.btn-auth:disabled {
  background: #787a8d !important;
  pointer-events: none !important;
  color: #d6d7e6 !important;
}
.wrap-auth-section {
  background-image: url('../../../assets/images/welcome-page.svg');
  background-color: #f1f5ff;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap-text h1 {
  font-size: 4em;
}
.nav-menu {
  margin: 12px 20px;
  padding: 0;
  float: right;
}
.nav-menu li {
  display: inline-block;
  padding: 5px 7px;
}
.nav-menu li:last-child {
  padding-right: 0;
}
.nav-menu a {
  color: #161616 !important;
  padding: 10px auto;
  font-size: 16px;
}
@media only screen and (min-width: 900px) {
  .wrap-auth-section {
    padding: 0px 0;
  }
  .os-container {
    width: 96%;
  }
}

@media only screen and (max-width: 880px) {
  .logo {
    margin-left: 6px !important;
  }
  .auth-section {
    min-height: 100vh;
    display: flex;
  }
  .wrap-event {
    display: none;
  }
  .wrap-auth {
    width: 96%;
    max-width: 500px;
    padding: 30px 36px;
    margin: 75px auto;
    display: block;
  }
  .hide-on-small {
    display: none !important;
  }
}
