.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  padding: 0 !important;
  color: #333556;

  a {
    color: #ea5726;
  }

  .left-column {
    background: #333556;
    flex: 1;
    justify-content: center;
    align-items: center;

    .header {
      margin: 2rem auto;
      padding: 0 20%;
      font-family: 'Montserrat';
      font-weight: lighter;
      font-size: 26px;
      text-align: center;
      color: #fcfcfc;
    }
    .imageWrapper {
      margin-top: 700px;
      margin-left: -25%;
    }

    .image {
      position: absolute;
      bottom: 0;
      max-width: none;
      position: absolute;
      width: 50%;
      transition: width 2s ease-in-out;
      bottom: 0;
    }
  }

  .right-column {
    background: #fff;
    flex: 1;

    .logo {
      margin: 2rem auto;
      width: 110px;
    }

    .rightHeaderText {
      display: flex;
      justify-content: center;
      margin: 320 auto;
      background: none;
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 25px;
      line-height: 33px;
      text-align: center;
      color: #333556;
      opacity: 0.9;
    }

    .form-content {
      margin: 5rem auto;
      width: 20rem;

      button {
        width: 100%;
        background-color: #333556;
        border-radius: 0;
        text-transform: uppercase;
        margin-top: 15px;
        padding: 17px;

        &:hover {
          background-color: #333556;
        }
        &:focus {
          background-color: #333556;
        }
      }

      input {
        border-radius: 0;
        background-color: #3335561c;
        border-style: none;
        padding: 17px;

        &::placeholder {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: #333556;
        }

        &:focus {
          border-style: solid;
          border-color: #ea5726;
          border-radius: 0;
        }
      }
    }

    .form-information {
      input {
        border-radius: 0;
        background-color: #3335561c;
        border-style: none;

        &::placeholder {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: #333556;
        }

        &:focus {
          border-style: solid;
          border-color: #ea5726;
          border-radius: 0;
        }
      }
    }
    .dots {
      display: flex;
      position: absolute;
      bottom: 2rem;
      width: 50%;
      justify-content: center;

      .dot {
        background: #ea572657;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 11px;
      }

      .active {
        background: #ea5726;
      }
    }
  }
}

@media (max-width: 690px) {
  .wrapper {
    flex-direction: column;
    .left-column .imageWrapper {
      margin-top: 20px;
      margin-left: -25%;
    }
    .left-column .imageWrapper .image {
      display: none;
    }

    .wrapper .left-column {
      display: none;
    }
  }
}

.logo {
  animation: shake 2s ease-in-out;
  animation-delay: 3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@keyframes shake {
  10%,
  90% {
    transform: rotate(10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-10deg);
  }
}
