.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  color: #333556;
  overflow-y: hidden;
  a {
    color: #e21a22;
  }
  .wrapperSidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333556;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    height: 100vh;
    width: 45%;
  }
  .header {
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 3;
    .headerDate {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
      line-height: 37px;
      margin: 14px auto 22px auto;
      span {
        background: #e21a22;
        padding: 5px 20px;
      }
    }
    .headerTitle {
      font-family: Montserrat;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 37px;
      margin: 8px auto;
    }
    .headerSubtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 22px;
      line-height: 37px;
      margin: 5px auto;
    }
    .headerContent {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 37px;
      margin: 8px 15px;
      text-transform: uppercase;
    }
    .headerUrl {
      font-weight: 200;
      font-size: 18px;
      line-height: 37px;
      margin: 16px auto;
      a {
        background-color: #e21a22;
        padding: 10px 55px 10px 25px;
        font-family: Roboto;
        color: #ffffff;
        position: relative;
      }
      a::before {
        opacity: 0.7;
        content: '';
        position: absolute;
        right: 20px;
        width: 25px;
        height: 20px;
        top: 12px;
        background-image: url('./../../../assets/images/right-arrow.svg');
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Roboto;
        color: #ffffff;
      }
      a img {
        width: 20px;
        position: relative;
        right: 0;
      }
      a:hover {
        background-color: #e21a22;
        opacity: 1v;
      }
    }
  }
  .wrapperSidebar::before {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    content: '';
    height: 70vh;
    background: rgb(51, 53, 86);
    background: linear-gradient(
      0deg,
      rgba(51, 53, 86, 0) 0%,
      rgba(51, 53, 86, 0.9570203081232493) 100%
    );
  }
  .right-column {
    position: absolute;
    background: #fff;
    min-height: 100vh;
    position: absolute;
    top: 0;
    flex: 1;
    padding-bottom: 50px;
    right: 0;
    z-index: 1000;
    width: 55%;
    .logo {
      margin: 1.5rem auto 0rem auto;
      width: 95px;
      width: 95px;
      img {
        width: 100%;
      }
    }
    .rightHeaderText {
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 30px;
      text-align: center;
      color: #333556;
    }
    .right-sub-header {
      font-size: 21px;
      text-align: center;
    }
  }
}
@media (max-width: 850px) {
  .wrapper {
    .right-column {
      padding: 50px 0px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}

@media (max-width: 825px) {
  .right-column {
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
  .left-column,
  .wrapperSidebar {
    display: none;
  }
}

.logo {
  animation: temporarilyDisabled 2s ease-in-out;
  animation-delay: 3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes logoAnimation {
  10%,
  90% {
    transform: rotate(10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(-10deg);
  }
}

/* ----------- iPad Pro ----------- */

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .left-column {
    display: none;
  }
  .wrapper .right-column {
    padding: 245px 100px;

    .ui.form {
      font-size: 1.6rem;
    }
  }
}

.wrap-event {
  width: 100%;
  img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
