.messages-wrapper {
  z-index: 1;
  margin: -3px 0px 0 10px;
  position: relative;
  .floating-message-count {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #ce4c4c;
    color: #ffffff;
    font-size: 10px;
    border-radius: 4px;
    padding: 0px 4px !important;
  }
}
