.security-container {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  tr {
    height: 66px;
  }
  .security-header {
    font-size: 22px;
  }
  .security-action {
    color: #a91f23;
    background-color: white !important;
  }
}
