.one-record {
  border-bottom: 1px solid #f1f1f1;
  padding: 19px 0;
  display: flex;
  .record-info {
    color: #757f8c;
    font-weight: 300;
    font-size: 14px;
    width: calc(100% - 160px);
    h4 {
      font-weight: 400;
      color: #4d4d4d;
    }
  }
  .record-amount {
    width: 160px;
    color: #9e9e9e;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px!important;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

@media screen and (min-width: 1281px) {
  .record-info {
    width: calc(100% - 170px) !important;
  }
  .record-amount {
    width: 170px !important;
  }
}
