.custom-dropdown {
  background: #ffffff !important;
  width: 100%;
  height: 45px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #d1d1d1;
  padding: 0 10px;
  margin: 15px 0;
  border-radius: 5px;

  .placeholder {
    opacity: 0.3;
    font-weight: 300;
    font-size: 0.7em;
  }

  .dropdown-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    outline: none;

    .dropdown-wallet {
      font-family: 'Roboto', sans-serif;

      display: flex;
      align-items: center;
      img {
        width: 40px;
        margin-right: 7px;
      }
      .account-number-div {
        font-size: 0.8rem;
        margin-top: 3px;
        font-weight: 400;
      }
      .account-name-span {
        font-weight: 200 !important;
        font-size: 0.9rem;
      }
    }
  }
}

.placeholder {
  opacity: 0.4;
  font-weight: 300;
  font-size: 0.9em;
}

.dropdown-menu {
  width: 100%;
}

@media (max-width: 500px) {
  .custom-dropdown {
    .dropdown-trigger {
      .dropdown-wallet {
        img {
          width: 25px;
          margin-right: 3px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .custom-dropdown {
    .dropdown-trigger {
      .dropdown-wallet {
        img {
          width: 25px;
          margin-right: 3px;
        }
      }
    }
  }
}
