.bank-form {
  &__info-message {
    display: flex;
    align-items: center;
    padding: 1rem !important;
    height: fit-content !important;
  }
  &__group {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
