.wallet_modal {
  position: relative;
  .cancel {
    background: #e95726;
    color: #ffffff;
  }
  .add {
    background: #57b894;
    color: #ffffff;
  }
  .ui.dropdown .menu > .item > .image,
  .ui.dropdown .menu > .item > img,
  .ui.dropdown > .text > .image,
  .ui.dropdown > .text > img {
    width: 34px;
    margin-right: 20px;
  }

  p.center-align.title {
    font-family: 'Montserrat';
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 23px !important;
    line-height: 16px;
    color: #333556 !important;
    margin-top: 5px;
  }

  .ui.loader:after {
  }

  .content {
    padding: 0px !important;
  }

  .success-container {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background: rgba(230, 232, 236, 0.52) !important;
  }
  .check-icon {
    color: #27ae60;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: -50px;
    margin-left: 20px;
  }

  .success-txt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
  }

  .description-txt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .search-form-loading,
  .wallet-form {
    margin: 1.5rem;
  }
}
