.switch-account-form {
  &__actions {
    @media screen and (max-width: 410px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__actions-right {
    @media screen and (max-width: 410px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  input {
    height: 43px !important;
  }
  .ui.active.visible.dropdown.custom-dropdown {
    .ui.left.icon.input {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 95% !important;
    }
  }

  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    button {
      border: 1px solid #d4d4d4 !important;
      height: 43px !important;
    }
  }

  .menu.transition.visible {
    width: 100% !important;
  }

  .ui.upward.dropdown.custom-dropdown {
    height: 43px !important;
  }
  .react-datepicker-wrapper {
    display: block;

    .react-datepicker__input-container {
      input {
        height: 43px !important;
      }
    }
  }

  .ui.selection.dropdown {
    height: 43px !important;
  }

  label {
    font-weight: 300 !important;
    color: #262d30;
    font-family: 'Robot', sans-serif;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;

    &--back {
      text-transform: uppercase !important;
    }
    margin-bottom: 1rem;
  }
}
.disclaimer {
  &__header {
    font-size: 1.5rem !important;
  }
  &__message {
    color: #7e8494;
    line-height: 1.6;
  }
  &__checkbox {
    margin-bottom: 1rem;

    .ui.checkbox label {
      font-weight: bold;
      color: #7e8494;
    }
  }

  &__button {
    background-color: #e95927 !important;
    color: white !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    border-radius: 2px !important;
  }
}
