@import 'src/assets/styles/mixins';

$dark-color: #595d5c;
$whilte-color: #fff;

.Card {
  display: flex;
  width: 300px;
  height: 172px;
  background-color: $dark-color;
  border-radius: 6px;
  padding: 1.8rem 1.2rem 0rem 1.2rem;
  margin-right: 1rem;
  color: $whilte-color;
  background-image: url('../../assets/images/glob.png');
  background-size: cover;

  .LeftSide {
    flex-grow: 3;
    width: 70%;

    span {
      display: block;
    }

    span:not(.CardNumber) {
      margin-bottom: 1.5rem;
    }

    .CardTitle {
      font-size: 1rem;
      font-weight: 100;
    }

    .cardOwner {
      font-weight: 100;
    }

    .Cvv {
      font-weight: 100;
      font-size: 0.8rem;
    }

    .CardNumber {
      font-size: 1.2rem;
    }
  }

  .RightSide {
    text-align: center;

    .Logo {
      span {
        font-size: 0.8rem;
        font-weight: 100;
        text-align: center;
      }
    }

    .Date {
      span {
        font-weight: 100;
        font-size: 0.5rem;
        display: block;
      }

      line-height: 1;
      margin-top: 4rem;
    }
  }
}

@include respond-to(mobile) {
  .Card {
    width: 100%;
    padding: 0.1rem 0.6rem 0.2rem 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 0.3rem;

    .LeftSide {
      .CardTitle {
        font-size: 0.8rem;
        font-weight: 100;
      }

      .CardNumber {
        font-size: 0.8rem;
      }
    }
  }
}
