@import 'src/assets/styles/mixins';

.virtual-card-item {
  transition: background-color 2s;

  &:hover {
    background-color: #f1f1f163 !important;
  }
}

@include respond-to(mobile-landscape) {
  .virtual-card-item {

    .vc-currency {
      font-size: .9rem !important;
      margin-top: .3rem !important;
    }

    .vc-info {
      font-size: .75rem !important;
    }

    .vc-btn-copy {
      float: left !important;
      margin-top: .3rem !important;
    }
  }
}

@include respond-to(mobile) {
  .virtual-card-item {
    .vc-balance {
      font-size: .8rem !important;
    }

    .vc-currency {
      font-size: .9rem !important;
    }

    .vc-info {
      font-size: .75rem !important;
    }

    .vc-btn-copy {
      font-size: .94rem !important;
      float: left !important;
    }
  }

}