@import 'src/assets/styles/mixins';

.VirtualCardList {
  margin: auto;
  width: 100%;
  max-width: 860px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  height: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.Container {
  width: 100%;
  margin: auto;
}

.Titles {
  font-size: 1.2rem;
}

@include respond-to(mobile-landscape) {
  .VirtualCardList {
    margin: auto;
    width: 90%;
  }
}

@include respond-to(mobile) {
  .VirtualCardList {
    margin: auto;
    width: 90%;
  }
}
