.details-body {
  font-weight: 400;
  .table-headings {
    padding: 10px;
    .recipient {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .user-details {
      display: flex;
      img {
        width: 9%;
        border-radius: 50%;
        margin-right: 10px;
      }
      .names-phones {
        margin-top: 4px;
      }
    }
  }
  .amount {
    padding: 0px;
    font-size: 18px;
    div {
      margin-bottom: 5px;
    }
  }
  .details-data {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .details-body {
    margin-right: 110px !important;
  }
}
@media (max-width: 375px) {
  .details-body {
    margin-right: 56px !important;
  }
}
@media (max-width: 425px) {
  .details-body {
    margin-right: 7px;
  }
}
