.single-user-chat-view {
  grid-template-columns: 100%;

  .main-chat-area .message-box {
    width: 100%;
  }
}

.chat-list-view {
  grid-template-columns: 30% 70%;

  .main-chat-area .message-box {
    width: 70%;

    .right-items {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.messaging-container {
  display: grid;
  margin-top: 30px;

  .recent-chats {
    border-right: 1px solid #ccc;
    .chart_list_header {
      padding: 13px 10px;
      border-bottom: 1px solid #ccc;
      height: 49px;
      display: flex;
      justify-content: space-between;
    }

    .top {
      padding: 0px 10px;
      .sub-nav {
        height: 48px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 2px solid rgba(51, 53, 86, 0.2);
        img {
          padding: 0px 8px;
        }
      }

      .main-upper-nav-lower {
        .recents-container {
          display: flex;

          .prevNextIcon {
            align-self: center;
            margin-top: -20px;
            cursor: pointer;
          }
        }
        .container {
          display: flex;
          margin: 0px 5px 15px;
          overflow-x: auto;
          width: 100%;
          height: 57px;
          overflow-y: hidden;

          .contact-container {
            margin-right: 15px;
            cursor: pointer;

            .presence-icon {
              margin-top: -13px;
              margin-left: 31px;
            }
            .single-line {
              width: 45px;
              text-align: center;
              font-size: 9px;
              color: #333556;
            }
          }
        }
        .container::-webkit-scrollbar {
          outline: 1px solid slategrey;
          display: none;
          -ms-overflow-style: none;
        }
      }
    }

    .bottom-recents-list {
      height: 480px;
      background-color: white;
      overflow-x: hidden;
      padding: 20px 11px;
    }

    .bottom-recents-list::-webkit-scrollbar {
      width: 6px;
    }
    .bottom-recents-list::-webkit-scrollbar-track {
      background: #ddd;
    }
    .bottom-recents-list::-webkit-scrollbar-thumb {
      background: #bdbdbd;
    }
  }

  .main-chat-area {
    .top-section {
      background-color: white;
      justify-content: space-between;
      align-items: center;
      display: flex;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      height: 48px;
      margin-top: -10px !important;

      .left-items {
        display: flex;

        align-items: center;

        .chart-user-info {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding-left: 5px;
          .name {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;

            color: #333556;
          }

          .icon-input {
            position: absolute;
            bottom: 0;
            right: 35%;
            width: 12px;
            height: 12px;
            background: #ffffff;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          .presence-status {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;
            color: #333556;
            padding-top: 3px;

            .presence_status_text {
              padding-left: 5px;
            }
          }
        }
      }
    }

    .chat-area {
      padding: 5px 20px 20px;
      height: 590px;
      position: relative;
      margin-bottom: 79px;
      overflow: auto;
      background: #f1f1f1;
      outline: none;
    }
    .chat-area::-webkit-scrollbar {
      width: 6px;
    }
    .chat-area::-webkit-scrollbar-track {
      background: #ddd;
    }
    .chat-area::-webkit-scrollbar-thumb {
      background: #bdbdbd;
    }

    .message-box {
      bottom: 0;
      position: absolute;
      right: 0;
      right: 0;
      padding: 14px;
      background: #f5f6fa;
      .bottom-section {
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 51px;
        .right-items {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .chat-icon {
          cursor: pointer;
        }

        .chat-icon {
          cursor: pointer;
        }

        .left-items {
          display: flex;

          .chart-user-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 5px;
            .name {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 15px;

              color: #333556;
            }

            .presence-status {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 300;
              font-size: 10px;
              line-height: 12px;
              color: #333556;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .messaging-container {
    grid-template-columns: 100%;
    .main-chat-area .message-box {
      width: 100%;

      .right-items {
        display: flex;
      }
    }
  }
}

.icon-input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-avatar-image {
  height: 43px !important;
  width: 43px !important;
  margin: auto !important;
}

.fav-image {
  display: flex;
  flex-direction: column;

  .presence-status-1 {
    align-self: center;
    position: absolute;
    margin-top: 30px;
    margin-left: 9px;
  }
}
