@import 'src/assets/styles/mixins';

.CreditCard {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  .ReceivedCreditCard{
    width: 19rem;
    margin-top: .3rem;
    background-color: #333556;
    color: #D7D7D7;
  }

  .PinForm {
    width: 30%;
    margin-left: 1rem;

    .CheckBox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .UpperPin {
      width: 100% !important;
      padding: .4rem;
    }

    button {
      color: #D7D7D7;
      background-color: #333556;
      margin-top: 1rem;
    }

  }
}

@include respond-to(tablets-landscape) {
  .CreditCard {
    .PinForm {
      width: 50% !important;
      margin: auto;
    }
  }
}

@include respond-to(tablets) {
  .CreditCard {
    .ReceivedCreditCard{
      font-size: .8rem;
      width: 14rem;
    }
    .PinForm {
      width: 50% !important;
      margin: auto;
    }
  }

}

@include respond-to(mobile-landscape) {
  .CreditCard {
    width: 95%;

    .PinForm {
      width: 80% !important;
      margin: auto;
    }
  }
}

@include respond-to(mobile) {
  .CreditCard {
    width: 95%;
    .ReceivedCreditCard{
      margin-left: 1rem;
    }
    .Card {
      margin: .5rem .6rem;
    }

    .DetailsRight {
      margin-left: 1rem;
    }

    .DetailsLeft {
      margin-left: 1rem;
    }

    .PinForm {
      width: 80% !important;
      margin: auto;
      .UpperPin {
        width: 100% !important;
        padding: .4rem;
      }
    }
  }
}