@import 'src/assets/styles/mixins';

.CreditCard {
  margin: 5px auto 15px auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 96%;
  padding: 2%;
  max-width: 780px;
  .CardMinis {
    margin-top: 2rem;
  }
  .BGLayout {
    width: 100%;
  }
  .ReceivedCreditCard {
    margin: 12px 0;
    padding: 12px 16px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    cursor: pointer !important;
    color: #1e2120;
    &:hover {
      background-color: #ffffff;
    }
  }
  .labelled {
    margin: 0 0 8px 0;
  }
  .CheckBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    width: 20rem;
  }
  .all-details {
    max-width: 555px;
    width: 100%;
    margin-left: auto;
  }
}
.PinForm {
  margin: 5px auto 15px auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 96%;
  padding: 2%;
  max-width: 360px;
  .CheckBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .UpperPin {
    width: 100% !important;
    padding: 0.4rem;
  }

  button {
    color: #d7d7d7;
    background-color: #1e2120;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .CreditCard {
    .DetailsRight {
      margin-left: 0rem !important;
    }
    .all-details {
      padding-bottom: 60px !important;
    }
  }
}
@media only screen and (min-width: 768px) {
  .CardMinis {
    margin-left: -1rem;
  }
}
.SMCardLayout {
  margin-top: 0.3rem;
  width: 248px;
}
@media (max-width: 1045px) {
  .CreditCard .all-details {
    margin: auto;
    padding-bottom: 60px;
  }
}
