.circle-wrapper {
  cursor: pointer;
  border-radius: 4px;
  height: 60px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .image-holder {
    height: 35px;
    width: 35px;
    margin-left: 0.4rem;
    i {
      position: absolute;
      top: 5px;
      left: 3px;
      font-size: 22px;
    }
  }

  @media (min-width: 760px) {
    .wrap-this-text {
      width: 80px !important;
      font-size: 12px;
    }
  }

  .card-description {
    display: inline-block;
    position: relative;
    color: #454545;
    margin-left: 0.2rem;
    max-width: 6rem;
  }
}

@media screen and (max-width: 320px) {
  .circle-wrapper {
    font-size: 0.8rem;
  }
  .wrap-this-text {
    margin-left: -1rem;
  }
}
