.circle-wrapper {
  cursor: pointer;
  border-radius: 4px;
  height: 60px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .image-holder {
    position: absolute;
    top: 13px;
    left: 10px;
    height: 35px;
    width: 35px;
    float: left;
    i {
      position: absolute;
      top: 5px;
      left: 3px;
      font-size: 22px;
    }
  }

  .card-description {
    position: relative;
    left: 55px;
    color: #454545;
  }
}
