.form-password-reset {
  .checklist {
    margin: 0 0 15px 0;
    span {
      font-weight: 600;
      color: #5aac6c;
    }
    .invalid {
      color: #c73b3b;
    }
  }
  .password-checklist {
    img {
      width: 15px;
      height: 15px;
      margin-right: 0.3rem;
    }
  }
}
.otp-pin-input {
  .pin {
    input {
      width: 34px;
      padding: 0 0 15px 0 !important;
    }
  }
  .resendOTP {
    padding-top: 0.5rem;
    .resendBtn {
      background: none;
      color: #c73b3b;
      cursor: pointer;
    }
    .Loader {
      display: flex;
      justify-content: center;
      padding-top: 0.5rem;
    }
  }
}
