.table-heading {
  display: block;
}
.table-wallet-section {
  display: block;
}
.table-wallet-number {
  font-weight: 400;
}
.action-heading {
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.card-detail-container {
  button {
    background-color: #343657;
    color: #ffff;
  }
}
