.avatar-user-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .camera-input {
    margin-top: -20px;
    margin-right: -40px;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  // flex: 1;
}

.phone-section {
  .area {
    .common-tel-area .SelectCountryCode .country-code {
      padding-top: 0px;
    }
  }
}
.contents-inner {
  display: flex;
  justify-content: space-evenly;
}

.inner-edit-content {
  display: inline-flex;
  align-items: center;
  padding: 30px;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.last-name,
.first-name,
.phone-section {
  margin-bottom: 10px;
}
