.edit-general-info {
  .pick-position {
    margin-top: 0 !important;
    background: red;
    height: 44px;
    cursor: pointer;
    padding: 5px 5px !important;
  }
}

@media (max-width: 950px) {
}

@media (max-width: 500px) {
  .edit-general-info {
    .pick-position {
      width: 15%;
      padding: 5px !important;
    }

    .ten.wide.field {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 330px) {
  }
}
