// Colours
$label-colour: #ccc;
$toggle-colour: #0a9320;
$white: #fff;

// Styles
.toggle-switch {
  position: relative;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid $label-colour;
    border-radius: 20px;
    margin: 0;
    height: 15px;
    width: 50px;
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -70%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 24px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: black;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: attr(data-yes);
      text-transform: uppercase;
      padding-left: 7px;
      background-color: rgba(87, 184, 148, 0.59);
      color: $white;
    }
  }
  &-disabled {
    background-color: $label-colour;
    cursor: not-allowed;
    &:before {
      background-color: $label-colour;
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 7px;
    background-color: $label-colour;
    color: $white;
    text-align: right;
  }
  &-switch {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    background: #d0cde1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid $label-colour;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 0px;
      width: 25px;
      margin-top: -5px;
      margin-left: -5px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      height: 25px;
      background: $toggle-colour;
    }
  }
  &.small-switch {
    width: 40px;
    .toggle-switch-inner {
      &:after,
      &:before {
        content: '';
        height: 24px;
        line-height: 20px;
      }
    }
    .toggle-switch-switch {
      width: 16px;
      right: 20px;
      margin: 2px;
    }
  }
  @media screen and (max-width: 991px) {
    transform: scale(0.9);
  }
  @media screen and (max-width: 767px) {
    transform: scale(0.825);
  }
  @media screen and (max-width: 575px) {
    transform: scale(0.75);
  }
}
