.referral-form {
  .referral-pid-input {
    margin-top: 10px !important;
    input {
      &:focus {
        background-color: #3335561c !important;
        border-style: none !important;
      }
    }
  }

  .search-referral-loading {
    span {
      font-size: 15px !important;
    }
  }

  .skip-loading {
    background-color: #3335561c;
    opacity: 3;
    padding: 30px 10px;
    margin-bottom: 10px;
  }

  .referral-results {
    padding: 25px 50px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .firstLastName {
      padding-top: 10px;
      font-weight: 300;
      font-size: 17px;
      line-height: 12px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #333556;
    }
    .address {
      line-height: 12px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #333556;
    }
  }
}
