.referral-form {
  .referral-pid-input {
    margin-top: 10px !important;
    input {
      &:focus {
        background-color: #3335561c !important;
        border-style: none !important;
      }
    }
  }

  .search-referral-loading {
    span {
      font-size: 15px !important;
    }
  }

  .skip-loading {
    background-color: #3335561c;
    opacity: 3;
    padding: 30px 10px;
    margin-bottom: 10px;
  }

  .referral-results {
    padding: 25px 0;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .firstLastName {
      padding-top: 10px;
      font-weight: 300;
      font-size: 17px;
      line-height: 12px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #333556;
    }
    .address {
      line-height: 12px;
      align-items: center;
      text-align: center;
      color: #333556;
    }
  }
  .wrap-submit {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #adadad;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  .wrap-or {
    margin: 8px;
    text-align: center;
  }
  .btn-primary {
    background: #e21a22 !important;
  }
  .btn-secondary {
    background: #1e2120 !important;
  }
}
