.content-wrapper {
  .currency-card {
    padding: 3px 20px 3px 10px;
    cursor: pointer;
    float: left;
    height: 42px;
    background-color: #ffffff;
    margin: 5px 0 0 5px;
    border: 0.5px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    grid-gap: 4px;
    column-gap: 4px;
  }
  .currency-card:hover {
    background: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  }
  .currency-card::before {
    position: absolute;
    content: '';
    top: 13px;
    right: 6px;
    width: 12px;
    height: 12px;
    background-image: url('../../../assets/images/caret-down.svg');
    background-position: center center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    z-index: 3;
  }
  .currency-card.active {
    border: 0.5px solid #616161;
  }
  .currency-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  .countryCode {
    font-weight: 300;
    font-size: 13px;
  }
  .cardFlag {
    width: 30px;
    float: left;
    height: auto;
    border-radius: 3px;
    img {
      border-radius: 3px;
    }
  }
}
.currencies-placeholder {
  max-width: 400px;
}
@media (max-width: 500px) {
  .content-wrapper {
    .countryCode {
      padding-bottom: 5px;
    }
  }

  .summation-container {
    margin-top: 0px;
    align-content: flex-end;
    height: 60px;
  }
}
