.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-left: -8px;
  align-items: center;
  .arrow {
    cursor: pointer;
  }
  .arrow-end {
    margin-left: 0px;
  }
  .items {
    margin: 0 15px;
    width: 500px;
    max-height: 100px;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-direction: row;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100px;
    height: 60px;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(51, 53, 86, 0.11);
    border-radius: 5px;
    margin: 0 5px;
  }

  .countryCode {
    font-weight: 300;
    font-size: 15px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #000000;
  }
  .cardFlag {
    height: 37px;
  }
}

.summation-container {
  align-content: flex-end;
}

@media (max-width: 500px) {
  .content-wrapper {
    .items {
      width: 350px;
    }
    .card {
      width: 70px;
    }

    .ui.image {
      max-width: 37px;
      margin-top: 5px;
    }
    .countryCode {
      padding-bottom: 5px;
    }
  }

  .summation-container {
    margin-top: 0px;
    align-content: flex-end;
    height: 60px;
  }
}
