.documents-container {
  position: relative;
  .id-forms {
    margin-top: 10px;
    display: flex;
  }
  .id-doc-form {
    width: 53%;

    form {
      span {
        font-weight: bold;
        font-size: 14px;
      }
      .react-datepicker-wrapper {
        width: 100%;
        height: 43px;
        input {
          height: 100%;
          font-size: 14px;
        }
        .react-datepicker__input-container {
          height: 100%;
          input {
            border: 1px solid #ccc;
            font-size: 14px;
          }
        }
      }
    }
    .submit-button {
      button {
        padding: 10px 10px !important;
        border-radius: 5px !important;
      }
    }
    .menu-flags {
      border: solid 1px #cfcfcf;
      border-radius: 5px;
      width: 100%;
      height: 42px;
      .flag-select__btn {
        font-size: 16px;
        position: absolute;
        left: 0;
      }
      .flag-select__btn[aria-expanded='true']:after {
        position: absolute;
        right: 0;
        top: 10px;
      }
      .flag-select__option.flag-select__option--placeholder {
        color: rgba(0, 0, 0, 0.87);
      }
      .flag-select__options {
        .filterBox {
          width: 91%;
          input {
            border: 1px solid #ccc;
          }
        }
      }
    }
  }
  .doc-status {
    margin-top: 10px;
    margin-left: 10px;
  }
  .other-docs {
    margin-top: 15px;
    .img-placeholder {
      width: 160px;
      height: 130px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      padding: 31px 50px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .document-image {
    position: relative;
    width: 160px;
    height: 130px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-left: 12px;

    .status-label {
      position: absolute;
      z-index: 1;
      font-size: 10px;
      bottom: 92%;
      left: -6%;
    }

    .id-doc {
      object-fit: cover;
      width: 160px;
      height: 138px;
    }
  }

  .camera-input {
    width: 45px;
    height: 38px;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    position: absolute;
    bottom: 5% !important;
    right: 0% !important;
  }

  .other-documents {
    display: flex;
    flex-wrap: wrap;

    .other-doc {
      width: 160px;
      height: 130px;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 15px;
      margin-bottom: 15px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 25px;

      &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .documents-container {
    padding-left: 10px;
    .docs {
      display: block;
      flex-direction: column;
    }
    .id-forms {
      display: block;
    }
    .id-doc-form {
      width: 100%;
      margin-top: 10px;
      input {
        font-size: 14px;
      }
    }

    .other-documents {
      display: block;
      .other-doc {
        width: 100%;
      }
      .img-placeholder {
        justify-content: center;
        width: 100%;
      }
    }
  }

  @media (max-width: 330px) {
  }
}
