.manage-phone-container {
  .btn-add-phone {
    display: flex !important;
    border-radius: 2px !important;
    height: 40px !important;
    border: 1px solid #7e8494 !important;
    background: #fff !important;
    font-weight: 400;
  }
  .display-phone {
    display: flex;
    img {
      margin-right: 5px;
    }
  }
  .set-primary {
    color: #a91f23;
    font-weight: 400;
  }
  .add-phone-actions {
    display: flex;
    justify-content: flex-end;
    .back-button {
      color: #7e8494 !important;
      background: #fff !important;
    }
    .add-button {
      background: #a91f23;
      border-radius: 2px;
      font-size: 400;
      color: #fff;
    }
  }
  .phone-sub-title {
    margin-bottom: 5px;
  }
  .info-message {
    padding: 10px !important;
    width: 100% !important;
    margin: auto !important;
    justify-content: flex-start !important;
    img {
      width: 30px !important;
      margin-top: -5px !important;
    }
  }
  .otp-description {
    width: 61%;
    span {
      color: #a91f23;
      font-weight: 600;
    }
    span:hover {
      cursor: pointer;
    }
  }
  .otp-text {
    margin-top: 10px;
  }
  .overlay {
    position: absolute;
    width: 88.2%;
    height: 217px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
  }
  .id-copy {
    border: 1px solid;
    border-radius: 4px;
    width: 96%;
    margin-top: 10px;
    margin: auto;
    .user-doc-img {
      height: 217px;
      width: 100%;
      object-fit: cover;
    }
    .images-doc-actions,
    .edit-delete-doc {
      position: absolute;
      z-index: 2;
      display: flex;
      width: 88.2%;
      opacity: 0;
    }
    .images-doc-actions {
      justify-content: center;
      img {
        width: 25px;
        margin-top: 98px;
      }
    }
    .edit-delete-doc {
      justify-content: flex-end;
      margin-top: 181px;
      img {
        margin-right: 7px;
        width: 20px;
      }
    }

    &:hover .overlay {
      display: block;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .id-copy:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
  }
  .id-copy:hover .edit-delete-doc {
    opacity: 1;
  }
  .id-copy:hover .images-doc-actions {
    opacity: 1;
  }
  .copy-title {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
