.update-residence-container {
  .ui.fluid.input {
    height: 46px;
  }
  .edit-residence-from {
    .ui.dropdown.custom-dropdown {
      height: 46px;
      width: 98% !important;
    }
  }
  .country-state {
    margin-left: 0px !important;
    .field {
      width: 92% !important;
      .ui.fluid.input {
        width: 97%;
        margin-left: 5px;
      }
      label {
        margin-left: 4px;
      }
    }
  }
  .info-country {
    .country-label {
      font-weight: 600;
    }
    width: 88%;
    margin-top: 3px;
    .ui.dropdown.custom-dropdown {
      width: 99% !important;
    }
    .ReactFlagsSelect-module_selectBtn__19wW7 {
      height: 46px;
    }
  }
  .btn-add-phone {
    display: flex !important;
    border-radius: 2px !important;
    height: 40px !important;
    border: 1px solid #7e8494 !important;
    background: #fff !important;
    font-weight: 400;
  }
  .display-phone {
    display: flex;
    img {
      margin-right: 5px;
    }
  }
  .set-primary {
    color: #ea5726;
    font-weight: 400;
  }
  .add-phone-actions {
    display: flex;
    justify-content: flex-end;
    .back-button {
      color: #7e8494 !important;
      background: #fff !important;
    }
    .add-button {
      background: #ea5726;
      border-radius: 2px;
      font-size: 400;
      color: #fff;
    }
  }
  .phone-sub-title {
    margin-bottom: 5px;
  }
  .info-message {
    padding: 10px !important;
    width: 100% !important;
    margin: auto !important;
    justify-content: flex-start !important;
    img {
      width: 30px !important;
      margin-top: -5px !important;
    }
  }
  .otp-description {
    width: 61%;
    span {
      color: #e95927;
      font-weight: 600;
    }
    span:hover {
      cursor: pointer;
    }
  }
  .otp-text {
    margin-top: 10px;
  }
  .overlay {
    position: absolute;
    width: 91%;
    height: 217px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .manage-phone-container {
    .country-state {
      .field {
        margin: 10px 0 10px -8px !important;
        width: 100% !important;
        .ui.fluid.input {
          width: 100%;
          margin-left: 0px !important;
        }
      }
    }
    .info-country {
      width: 98%;
      .ui.dropdown.custom-dropdown {
        width: 100% !important;
      }
    }
  }
}
