.notifications-dropdown {
  position: relative;
  // border: 2px solid green!important;
  // height: 40px;
  right: -6px;
  img.h-icon {
    margin: 0;
    top: -4px;
    position: relative;
    width: 32px !important;
  }
  #notifications-dropdown-inner {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 45px;
    width: 450px;
    .notifications-item {
      cursor: text !important;
      border-bottom: 1px solid rgba(51, 53, 86, 0.11) !important;
      width: 450px !important;
    }
  }
  .u_bell_badge {
    position: absolute;
    background: #ce4c4c;
    color: #ffffff;
    font-size: 10px;
    border-radius: 4px;
    top: -8px;
    right: -6px;
    padding: 0px 4px!important;
  }
  .menu {
    width: 244px;
  }

  .icon-actions {
    position: absolute;
    bottom: 0px;
    right: 5px;
    .action {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .notif-info {
    width: 350px;
    overflow: hidden;
    position: relative;
    .name {
      font-weight: 300;
      color: #727272;
      margin: 4px 0;
    }

    .time {
      margin: 4px 0;
      font-weight: 300;
      color: #727272;
      i {
        color: #909090;
      }
    }
  }
  .notif-message {
    margin: 8px 0;
    font-weight: 300;
    width: 100%;
    color: #0e0e0e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dropdown-footer {
    a {
      color: #787878;
    }
    &:hover {
      background: transparent !important;
    }
    a {
      &:hover {
        color: #333556 !important;
      }
    }
  }
}
@media (max-width: 600px) {
  .notifications-dropdown {
    #notifications-dropdown-inner {
      position: fixed;
      right: 5vw !important;
      width: 90vw !important;
      margin-top: 15px;
      border: solid;
      .notifications-item {
        width: 90vw !important;
      }
    }
    .notif-info {
      width: 60vw;
    }
  }
}
