.email-and-phone {
  span {
    font-size: 13px;
  }
}

.security-container {
  input[name='dob'] {
    margin-bottom: 10px !important;
  }

  .gender_input_select {
    margin-bottom: 10px !important;
  }

  .ui.selection.dropdown {
    min-width: 6px !important;
  }
}

.edit-phone-and-email {
  .phone-numbers-grid {
    .phone-numbers-column {
      padding-top: 0 !important;

      .actions-icon {
        line-height: 5;
      }
    }
  }

  .phone-numbers {
    .category-selector {
      .selection.dropdown {
        min-width: 130px;
        display: flex;
        align-items: center;
        border-radius: 0;
        border: none;
        background: #ffffff !important;
        border: 1px solid #cdcdcd !important;
        border-radius: 4px;
        height: 44px;
        input:focus {
          border: 0.1px solid #ea5726 !important;
          border-radius: 0 !important;
        }
      }
    }

    .country-code {
      top: 13px;
      font-weight: 400;
    }
  }

  @media (max-width: 500px) {
    .phone-numbers {
      max-width: 90% !important;
    }
  }

  .emails {
    .category-selector {
      .selection.dropdown {
        min-width: 130px;
        display: flex;
        align-items: center;
        border-radius: 0;
        border: none;
        background: #ffffff !important;
        border: 1px solid #cdcdcd !important;
        border-radius: 4px;
        height: 44px;
        input:focus {
          border: 0.1px solid #ea5726 !important;
          border-radius: 0 !important;
        }
      }
    }

    .emails-grid {
      .emails-column {
        padding-top: 15px !important;

        .input {
          background-color: #e6e8ec94;
          display: flex;
          align-items: center;
          img {
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }

        .actions-icon {
          line-height: 5;
        }
      }
    }
    .actions-icon {
      line-height: 5;
      margin-top: -15px;
    }
  }

  @media (max-width: 500px) {
    .emails {
      max-width: 90% !important;
    }
  }

  .submit-button {
    width: 54%;
  }
}

.info-phone-and-email {
  .phone-numbers-details {
    padding-top: 0 !important;
    display: flex;
    align-items: center;
    background-color: #e6e8ec;
    height: 38px;
    padding-left: 7px;

    img {
      margin-right: 7px;
      width: 25px !important;
    }
  }
  .actions-icon {
    display: none;
    align-items: center;
    height: 100%;
    justify-content: center;

    i {
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .edit-phone-and-email
    .phone-numbers
    .category-selector
    .selection.dropdown {
    min-width: 115px;
  }
  .edit-phone-and-email
    .emails
    .category-selector
    .selection.dropdown {
    min-width: 115px;
  }
  .phone-numbers-grid {
    .phone-numbers-column {
      .actions-icon {
        display: flex;
        margin-left: 18px;
        padding-top: 1rem;
      }
    }
  }
  .edit-phone-and-email .emails .actions-icon {
    display: flex;
    margin-left: 18px;
    padding-top: 1rem;
  }
}

@media (max-width: 500px) {
  .ui.grid .ui.stackable.grid,
  .ui.segment:not(.vertical) .ui.stackable.page.grid {
    margin-left: 1rem !important;
    margin-right: -1rem !important;
  }
  .info-phone-and-email {
    .category {
      display: none !important;
    }

    .empty-column {
      display: none !important;
    }

    .ui.stackable.grid > .phone-numbers-column {
      width: 90% !important;
      padding: 0px 0 5px 0 !important;
    }
    .ui.stackable.grid > .phone-number-action {
      width: 5% !important;
      margin-top: -40px !important;
      margin-left: 15px !important;
    }
  }

  .edit-phone-and-email {
    .category {
      display: none !important;
    }

    .empty-column {
      display: none !important;
    }

    .ui.stackable.grid {
      padding: 14px 0 !important;
    }

    .ui.stackable.grid > .phone-numbers-column {
      width: 90% !important;
      padding: 0px 0 0px 0 !important;
    }
    .ui.stackable.grid > .emails-column {
      width: 90% !important;
      padding: 0px 0 15px 0 !important;
    }
    .ui.stackable.grid > .phone-numbers-actions {
      width: 6% !important;
      margin-top: -60px !important;
      margin-left: 10px !important;
    }
    .submit-button {
      width: 90%;
    }
  }

  @media (max-width: 330px) {
  }
}
