.field-to-export {
  div.radio {
    padding: 5px 15px 5px 30px;
  }
  .itemLabel {
    padding-left: 10px;
    font-size: 15px;
  }
}

.ExportCSV {
  margin-left: 3px;
  .btn-export-trigger {
    button {
      visibility: hidden;
      width: 167px !important;
    }
    button:after {
      content: 'goodbye';
      visibility: visible;
      display: block;
      position: absolute;
      background-color: red;
      padding: 5px;
      top: 2px;
    }
  }
}
