@import 'src/assets/styles/mixins';

.Recto {
  color: #D7D7D7;
  height: 50px;
  width: 66px;
  border-radius: 4px;
  margin: 4px 4px 0 0;
  background-color: #2A324F;
  padding: .1rem;
  float: left;
  .RectoHeader {
    font-size: .2rem;
    display: flex;
    justify-content: space-between;

    .RectoLogo {
      margin-top: .1rem;
      width: 45%;

      img {
        width: 100%;
      }
    }
  }

  .RectoCardNumber {
    font-size: .3rem;
  }

  .RectoNameOnCard {
    font-size: .33rem;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(42, 50, 79, 0.822);
  }
}


@include respond-to(mobile-landscape) {
  .Verso {
    height: 50px;
    width: 66px;
  }
}

@include respond-to(mobile) {
  .Verso {
    height: 50px;
    width: 66px;
  }
}