.profile-dropdown {
  .dropdown-header {
    height: 188px;
    text-transform: none !important;
    margin-bottom: 0 !important;

    .dropdown-header__content {
      width: 250px;
      position: relative;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;

      .name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 15px;
        color: #333556;
        margin: 15px 0 3px;
      }

      .default-wallet {
        margin-bottom: 5px;
        img {
          width: 23px;
          height: 23px;
          margin-right: 5px;
        }
        span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 11px;

          color: #000000;
        }
      }

      // .top-verified-icon {
      //   position: absolute;
      //   top: 5px;
      //   left: 20px;
      // }

      .verified-icon {
        margin-top: -20px;
        margin-left: 45px;

        img {
          width: 24px;
        }
      }
    }
  }

  .my-rewards {
    border: 1px solid #ea572670;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    img {
      width: 21px;
      margin-right: 5px;
    }
    span {
      font-size: 15px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
    }
    &:hover {
      border: 1px solid #ea5726b2;
      cursor: pointer;
      background: #ea572615;
    }
  }

  .dropdown-menu__item {
    border-bottom: 1px solid rgba(51, 53, 86, 0.11) !important;

    p {
      padding-left: 35px;
      font-family: Montserrat;
      font-style: normal;
      font-size: 14px;
      line-height: 15px;
      color: #333556;
    }
  }

  .dropdown-footer {
    &:hover {
      background: transparent !important;
    }
    a {
      color: #33355675;
      text-decoration: none;
      &:hover {
        color: #333556 !important;
      }
    }

    div {
      height: 50px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      text-decoration: underline;

      color: #33355675;

      &:hover {
        color: #333556 !important;
      }
    }
  }
}
.top-verified-icon {
  position: absolute !important;
  top: 70%;
  right: 12%;
}
