.profile-dropdown {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -5px;
  margin: auto;
  .menu {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) !important;
  }
  .dropdown-header {
    text-transform: none !important;
    margin: 0 !important;
    .dropdown-header__content {
      text-align: center;
      width: 250px;
      position: relative;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 500;
      .name {
        margin: 8px 0;
        font-weight: 300;
        font-size: 16px;
        overflow: hidden;
        width: 80%;
        text-overflow: ellipsis;
      }

      .default-wallet {
        margin: 10px 0;
        position: relative;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        max-width: 250px;
        span {
          padding: 5px 0 5px 10px;
          font-weight: 300;
          font-size: 14px;
        }
        img {
          width: 20px;
          height: auto;
          margin: 0;
          top: 5px;
          left: 0;
          position: relative;
        }
      }

      .verified-icon {
        position: relative;
        margin: auto;

        top: -25px;
        right: -20px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .my-rewards {
    display: flex;
    justify-content: center;
    padding: 15px 15px 15px 55px;
    border-radius: 4px;
    width: auto;
    max-width: 96%;
    font-weight: 300;
    font-size: 14px;
    background: #ffffff;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #da6138;
    img {
      width: 34px;
      position: absolute;
      top: 5px;
      left: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .dropdown_list {
    border-top: 1px solid #e4e4e4 !important;
    &:hover {
      z-index: 999 !important;
    }
  }
  .dropdown_list div {
    padding: 10px 15px 10px 5px !important;
    i {
      color: #898989;
      margin-right: 15px;
    }
  }
  .dropdown_list a {
    color: #454545 !important;
  }

  .dropdown-footer {
    &:hover {
      background: transparent !important;
    }
    a {
      text-decoration: none;
      &:hover {
        color: #333556 !important;
      }
    }

    div {
      height: 50px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      text-decoration: underline;

      &:hover {
        color: #333556 !important;
      }
    }
  }
}
.top-verified-icon {
  position: absolute !important;
  top: 70%;
  right: 12%;
}
