@import 'src/assets/styles/mixins';

.DefaultBG {
  background-color: #1E2120;
}
.Card {
  color: #fff;
  height: 178px;
  width: 310px;
  padding: 20px;
  border-radius: 5px;

  .CardHeader {
    display: flex;
    justify-content: space-between;
    color: #d7d7d7;
    font-size: 0.7rem;

    .LogoText {
      width: 6rem;

      img {
        width: 100%;
      }
    }
  }

  .SimCard {
    margin-top: 1.3rem;
    width: 3rem;

    img {
      width: 100%;
    }
  }

  .CardNumber {
    color: #d7d7d7;
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .Expiry {
    color: #d7d7d7;
    float: right;
    width: 39%;
    font-size: 0.6rem;
    line-height: 1;
    margin-bottom: 0.6rem;
    text-align: justify;

    span {
      display: block;
    }
  }

  .CardFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .CardOwner {
      margin-top: -.7rem;
      color: #d7d7d7;
    }

    .CardType {
      width: 3rem;
      margin-top: -.9rem;

      img {
        width: 100%;
      }
    }
  }
  &:hover{
    cursor: pointer;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1100px) {
  .Card {
    color: #fff;
    height: 168px;
    width: 290px;
    padding: 16px;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 759px) {
  .Card {
    color: #fff;
    height: 178px;
    width: 310px;
    padding: 10px;
    border-radius: 3px;
  }
}
