.Youth {
  background-image: linear-gradient(
      to bottom,
      rgba(40, 43, 78, 0.85),
      rgba(40, 43, 78, 0.95)
    ),
    url('../../../../assets/images/credit-card-bg.png');
}

.Silver {
  background-image: linear-gradient(
      to bottom,
      rgba(90, 90, 90, 0.85),
      rgba(90, 90, 90, 0.95)
    ),
    url('../../../../assets/images/credit-card-bg.png');
}

.Gold {
  background-image: linear-gradient(
      to bottom,
      rgba(214, 142, 2, 0.85),
      rgba(214, 142, 2, 0.95)
    ),
    url('../../../../assets/images/credit-card-bg.png');
}

.Platinum {
  background-image: linear-gradient(
      to bottom,
      rgba(156, 156, 156, 0.85),
      rgba(156, 156, 156, 0.95)
    ),
    url('../../../../assets/images/credit-card-bg.png');
}

.Black {
  background-image: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0.85),
      rgba(10, 10, 10, 0.95)
    ),
    url('../../../../assets/images/credit-card-bg.png');
}