.micro-container {
  width: 100%;
  .request-loan-container {
    padding: 20px;
    padding-top: 12%;
    text-align: center;
  }
  .micro-img {
    margin: 0 auto;
    width: 116px;
    margin-bottom: 25px;
  }
  button {
    background-color: #e95927 !important;
    color: #ffff !important;
    height: 42px;
    margin-top: 20px !important;
  }
  .loan-placeholder {
    margin: 0 auto;
    width: 68%;
    img {
      width: 100%;
    }
  }
}
