.wrap__container {
  .ui.grid {
    margin: 0 !important;
  }
}

.wallet__card {
  width: 100%;
  margin: 0 0 15px 0;
  padding: 3% 3% 20px 3%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  .user-currencies {
    margin: 0;
    padding: 0;
  }
}
.wallets_table {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.wallets {
  .rightText {
    padding-left: 24px;
  }
  .heading-text {
    display: flex;
    margin-top: -10px;
    align-items: center;
  }

  .ui.table td {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }

  .wallet-flag {
    width: 36px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .right {
    position: relative;
  }
  .check-sign {
    color: #27ae60;
    position: absolute;
    right: -5px;
    pointer-events: none;
  }

  .ui.table [class*='right aligned'],
  .ui.table[class*='right aligned'] {
    color: #282b4e;
    cursor: pointer;
  }

  .ui.table [class*='right aligned'] span,
  .ui.table[class*='right aligned'] span {
    padding: 10px;
  }

  .wallet-table-btns {
    text-align: right;
    margin-left: -5px;
  }

  .images-wrapper {
    display: grid;
    grid-template-columns: 532px 1fr;

    .image-container {
      display: flex;
      margin: 20px 0px 30px 50px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: white;
      border-radius: 5px;

      .item {
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        align-items: center;

        .username {
          font-size: 13px;
          line-height: 16px;
          padding-top: 10px;
          align-items: center;
          text-align: center;
          color: #1e2120;
        }
      }
    }
  }

  .main-container {
    margin: 0 10px;
    .contact-list {
      margin-right: 100px;
      border: 5px solid white;
      border-radius: 5px;
      background: white;
      padding-top: 10px;
    }

    .contact-item {
      display: flex;
      background-color: white;
      padding: 15px 34px;
      justify-content: space-between;

      .texts {
        flex: 1;
        margin-left: 10px;
        .nametext {
          font-weight: 300;
          font-size: 19px;
          margin: auto;
          line-height: 21px;
        }
        .sub-text {
          font-weight: 300;
          opacity: 0.8;
          font-size: 15px;
          line-height: 16px;
        }
      }
      .icons {
        display: flex;
        flex-wrap: wrap;

        .iconItem {
          padding-left: 18px;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .wallets {
      padding-left: 0px;
      padding-right: 0px;
    }
    .backButton {
      position: absolute;
      top: 120px;
      margin-left: -25px;
      cursor: pointer;
    }

    .wallet {
      margin-left: -45px !important;
      width: 80px;
    }

    .main-container {
      .all-wallets {
        margin: 0 2px;
      }
    }

    .ui.table {
      width: 100%;

      font-size: 0px;
    }
    .walletdetails {
      font-size: 9px;
    }

    .ui.table td {
      font-size: 12px !important;
    }

    .ui.table [class*='right aligned'] span,
    .wallets .ui.table[class*='right aligned'] span {
      padding: 3px;
    }

    .addImage {
      position: fixed;
      right: 10px;
      bottom: 50px;
      height: 60px;
      cursor: pointer;
    }
  }

  .addImage {
    position: fixed;
    right: 10px;
    margin-top: 10px;
  }
}

.flag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .account {
    flex: 1;
    margin: auto;
    padding-left: 5px;

    color: #000000;
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;
  }
}

.ui.multiple.dropdown > .label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

@media (max-width: 500px) {
  .wallets {
    .wallets_table {
      .wallet-currency {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  .main-container {
    .all-wallets {
      margin: 0 0px !important;
    }
  }
  .wallets_table {
    padding-bottom: 50px;
  }
}
