.edit-info-form {
  padding: 10px;
  .ui.fluid.selection.dropdown {
    height: 46px;
  }
  .ui.dropdown.custom-dropdown {
    height: 46px;
    max-width: 321px !important;
    width: 100%;
    margin-left: 8px;
  }
  .info-nationality {
    max-width: 322px;
    width: 100%;
    margin-right: 15px;
    .nationality-label {
      margin-bottom: 3px;
      margin-left: 7px;
      font-weight: 600;
    }
  }
  .menu.transition.visible {
    width: 100%;
  }
  .date-of-birth {
    max-width: 320px;
    width: 100%;
    margin-left: 17px;
    .date-label {
      margin-bottom: 3px;
      font-weight: 600;
      margin-left: -9px;
    }
    .react-datepicker-wrapper {
      width: 100%;
      margin-left: -8px;
      .react-datepicker__input-container {
        input {
          height: 46px;
          border: 1px solid #ced4da;
        }
      }
    }
  }
}
.update-info-actions {
  display: flex;
  justify-content: flex-end;
  .cancel-button {
    color: #7e8494 !important;
    background: #fff !important;
  }
  .change-button {
    background: #a91f23;
    border-radius: 2px;
    font-size: 400;
    color: #fff;
  }
}
