.summation-container {
    padding: 10px;
    width: 56px;
    height: 49px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    background-color: white;
    margin-left: 70px;
    border: 1px solid rgba(51, 53, 86, 0.11);
    border-radius: 5px;
}