.summation-container {
  padding: 10px;
  width: 56px;
  height: 49px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  background-color: white;
  margin-left: 70px;
  border: 1px solid rgba(51, 53, 86, 0.11);
  border-radius: 5px;
}
.user-currencies {
  padding: 4%;
  .dash-title {
    font-weight: 300;
    word-wrap: break-word;
    margin: 5px 0!important;
  }
}
@media only screen and (max-width: 500px) {
  .summation-container {
    margin-left: 5px;
  }

  .user-currencies {
    margin-left: 0px !important;
    margin-top: -15px;
  }
}
