$secondary-grey: rgb(241, 243, 247);
$main-dark: #333556;
$light-dark: #33355623;
$default-white: #fff;

.Item {
  display: flex;
  justify-content: space-between;
  background-color: $default-white;
  border-bottom: solid $light-dark 1px;
  margin: 0px 6px 1px 6px;
  .ItemTitle {
    color: $main-dark;
    font-size: 14px;
    margin-top: 0.8rem;
    margin-left: 1rem;
  }

  .ItemCheck {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $main-dark;
    border-radius: 3px;
    margin: 6px 3px 3px 0px;
  }
}

.Provider {
  display: flex;
  .ItemImage {
    height: 2.5rem;
    width: 2.5rem;
    margin: 3px 0px 3px 7px;
    border-radius: 2px;
    img {
      width: 100%;
    }
  }
}
.Option {
  width: 7rem;
  background-color: rgba(128, 128, 128, 0.575);
  border-radius: 1rem;
  height: 2rem;
  color: #fff;
  /* padding-left: 2rem; */
  padding-top: 0.3rem;
  font-size: 1rem;
  margin-left: 12rem;
  margin-top: 0.6rem;
  text-align: center;
}
.ExternalContact {
  margin-top: 3rem;
}
