.welcome {
  padding-left: 34px;
  padding-bottom: 24px;
  padding-top: 34px;
  min-height: 70px;

  .contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 54px;
    .right-contents {
      margin-top: -15px;

      .first {
        padding: 6px 20px;
      }

      .app-icon-logo {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: 500px) {
  .welcome {
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 24px;
    .contents {
      padding-right: 2px;

      .right-contents {
        margin-top: -10px;
      }
      .new-contact-button {
        margin-top: 1px;
        float: right;
        &:nth-child(2) {
          margin-top: 4px;
        }
      }
    }
  }
}
