.welcome {
  padding-left: 34px;
  padding-bottom: 24px;
  padding-top: 34px;
  min-height: 70px;

  .contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 54px;
  }
}

@media (max-width: 500px) {
  .welcome {
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 24px;
    .contents {
      padding-right: 2px;

      .new-contact-button {
        float: right;
        &:nth-child(2) {
          margin-top: 4px;
        }
      }
    }
  }
}
