.entities {
  display: flex;
  justify-content: center;
  .to {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    padding: 5px 20px;
    margin-top: 50px;
  }
}

.modal-title {
  text-align: center;
}
.remaining-money-shade {
  width: 60%;
  height: 100px;
  text-align: center;
  margin: 10px auto;
  border-radius: 1%;
  background: #f1f1f1;
  color: #000000;
  padding: 30px 0px;

  .available {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgb(3, 3, 4);
    line-height: 20px;
  }
  .available-value {
    font-family: Montserrat;
    font-style: normal;
    font-size: 17px;
    color: #000000;
    padding-top: 10px;
    font-weight: 500;
    line-height: 20px;
  }
}
.money-section {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto;
  color: #000000;
  padding: 10px 0px;

  .amount {
    align-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
  }

  .amount-value {
    padding: 10px 0px;
    flex: none;
  }

  .plus-minus-icons {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 15px;
      padding-bottom: 10px;
      cursor: pointer;
      background: #f1f1f1;
      align-items: center;

      .inner-icon {
        padding: 10px 20px 10px 0px;
      }
    }
  }
}

.ss-content {
  .ss-amount {
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    color: #000000;
  }

  .fees {
    display: flex;
    text-align: center;

    font-size: 20px;
    line-height: 24px;
    color: #000000;

    .fees-list {
      background: #f1f1f1;
      border-radius: 2%;
      padding: 10px 30px;
      margin: auto;
      .fees-item {
        display: flex;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        justify-content: space-between;
        font-family: 'Montserrat';
        align-items: flex-start;
        font-style: normal;
        font-weight: 300;
      }

      .right {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        margin-top: -1px;
        padding-left: 7rem;
        line-height: 20px;
        color: #000000;

        .bolder {
          font-size: 20px;
          font-weight: 500 !important;
        }
      }
    }
  }
  .exchange-rate {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
    padding: 6px 0px 1px 0px;
    line-height: 17px;
    color: #333556;
  }
}
.amount-to-be-recieved-break-down {
  background: #f1f1f1;
  border-radius: 2px;
  width: 70%;
  margin: 5px auto;
  padding: 10px 20px 0px 20px;
  .fees-item {
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    margin: -10px;
    display: flex;
    align-items: center;

    .right {
      margin: 0;
    }
  }
}
.confirm-form {
  width: 70%;
  margin: 0 auto;
  align-items: center;
  .input {
    width: stretch;
    border-radius: 0% !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(51, 53, 86, 0.54);
  }
  input {
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;

    padding-left: 0px !important;
  }
}
.one-tme-transfer {
  display: flex;
  width: 70%;
  margin: 10px auto 0px auto;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

hr {
  border: 1px solid #f1f1f1;
  margin-left: -21px;
  margin-right: -21px;
}

.pin-number {
  width: 35%;

  margin: 10px auto;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  .pin-input-group {
    .input {
      input {
        background: #e6e8ec;
        border: none;
      }
    }
  }
}
.load-stuff {
  margin: 5px 20% 0px;
}

.recurring {
  width: 70%;
  margin: 0px auto;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #000000;

  .repeat-date {
    display: flex;
    align-items: baseline;

    .custom-dropdown2 {
      border-right: 0;
      margin: 0px 0px 0px 10px;
      border-top: 0;
      border-left: 0;
      width: 100%;

      border-radius: 0px;
    }
  }
}
.from-to-dates {
  display: flex;
  align-items: baseline;
  .from-two-group {
    display: flex;
    align-items: center;
    .from {
      align-self: flex-end;
      padding-top: 20px;
    }
    .to-now {
      width: 50px;
      text-align: center;
    }
  }

  .ui.input > input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 13rem;
    border-radius: 0px !important;
  }
}
.send-now {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}
.menu .transition {
  position: relative;
}

@media (max-width: 1030px) {
  .entities {
    padding-left: 0px;
    width: 70%;
    margin: 5px auto;
    .entity-wrapper {
      flex-direction: column;

      .thumbnail {
        align-self: center !important;
      }
      .choose-wallet {
        text-align: center;
      }
    }
  }
}
@media (max-width: 605px) {
  .recurring {
    width: 100%;

    .from-to-dates {
      align-items: flex-start;
      flex-direction: column;
      .ui.input > input {
        width: -webkit-fill-available;
      }
      .ui.input > input :nth-child(2) {
        margin-left: 75px;
      }
      .from-two-group {
        display: flex;
        justify-content: space-between;
      }

      .from {
        align-self: flex-start;
      }
    }
  }

  .tel-area {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start !important;
  }
  .amount-value {
    .form-information {
      display: flex;
      align-items: baseline;
    }
  }
  .amount-to-be-recieved-break-down {
    width: 100%;
    margin: 5px auto;
  }
  .pin-number {
    width: 70%;
  }

  .one-tme-transfer {
    display: flex;
    width: 100%;
  }
  .confirm-form {
    width: 100%;
    margin: 20px auto;
  }
  .ss-content .fees .fees-list {
    background: #f1f1f1;
    border-radius: 2%;
    padding: 10px 7px;
    margin: auto;
  }

  .entities {
    display: flex;
    padding-left: 0px;
    padding-left: 0px;
    align-items: center;
    flex-direction: column;

    .remaining-money-shade {
      width: 80%;
      height: 10%;

      .available {
        .available-value {
          padding: 0px;
        }
      }
    }
    .money-section {
      display: flex;
      margin: 5px;
      padding: 10px 0px;

      .amount {
        flex: none;
      }
    }

    .plus-minus-icons {
      display: none;
    }

    .to {
      line-height: 0px;
      padding: 0px;
      margin-top: 30px;
    }
  }
}
