.info-message-danger {
  display: flex;
  justify-content: flex-start;
  border: solid 2px #e74c3c;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 1rem;
  margin-top: 15px;
  color: #e74c3c;
  img {
    width: 30px !important;
  }
  span {
    margin-top: 5px;
  }
}

.virtual-card-info {
  margin-top: -2.5rem !important;
}

@media screen and (max-width: 520px) {
  .virtual-card-info {
    margin-top: -3rem !important;
  }
}
