.last-year-header {
  display: flex;
  margin-top: 25px;

  .sub-title {
    padding: 5px;
    font-size: 16px;
    margin-top: 5px;
    opacity: 0.9;
  }
}

.chart-area-header {
  display: flex;
}

.charts {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  margin: 20px;
  .all-user-transactions {
    margin-top: 30px;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -1rem;
    .from-to {
      display: flex;
      justify-content: flex-end;

      .from {
        display: flex;
        h4 {
          margin: auto;
          padding-right: 0.5rem;
        }
      }
      .to {
        display: flex;
        h4 {
          margin: auto;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }
  }
}

.backImage {
  display: inline;
  margin: 8px 45px 0px;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .main-container {
    margin: 10px;
  }
  .right-table-stuff {
    .from-to {
      .ui.icon.input > input {
        padding-right: 0px !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .main-container {
    margin: 0px;
    padding: 5px;
  }
  .to-cashlist {
    display: none !important;
  }
  .backImage {
    margin: 8px 24px 0px;
  }
  .right-table-items {
    margin-top: -30px;
    flex-direction: column;
  }
  .charts {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .ui.secondary.pointing.menu .item {
    padding: 2px;
  }
  .ui.menu .item > .label {
    display: none;
  }
  .searchInput {
    margin-top: 20px;
  }
  .main-container .table-header {
    display: flex;
    justify-content: baseline !important;
    .from-to {
      flex-direction: column;

      .from {
        display: flex;

        padding: 5px;
        h4 {
          margin: auto;
          padding-right: 0.5rem;
        }
      }
      .to {
        display: flex;
        h4 {
          margin: auto;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }
  }
}

.main-content {
  .pin-number-inputs {
    width: 70%;
    margin: 10px auto;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;

    .pin-input-group {
      .input {
        input {
          background: #e6e8ec;
          border: none;
        }
      }
    }
  }
}
