.transaction-container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;

  .transactions-placeholder {
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
  .summary-cards {
    display: flex;
    justify-content: space-between;
  }
  .display-table {
    margin-top: 15px;
    margin-left: -14px;
    margin-right: -14px;
    overflow-y: auto;
  }
  .show-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .ui.pagination.menu {
      margin-bottom: 0px !important;
      margin-left: 1rem !important;
      max-width: 100%;

      @media (max-width: 600px) {
        font-size: 0.8rem;
      }
    }
  }

  .export-csv {
    button {
      display: flex;
      background: #ffff !important;
      border: 1px solid #c6c6c6;
      img {
        margin-right: 10px;
      }
    }
  }
}

.cancel-transaction {
  &__header {
    font-size: 18px;
    text-align: left;
    margin-bottom: 1rem !important;
  }

  &__content {
    font-size: 1.4rem !important;
  }
}
.main-content {
  .pin-input-form {
    span {
      font-size: 18px;
      font-weight: 500;
    }

    .field.pin-input-group {
      max-width: 80%;
    }
  }
}

@media (max-width: 1024px) {
  .transaction-container {
    .summary-cards {
      flex-flow: row wrap;
      justify-content: start;
      margin-left: 9px;
    }
  }
}
@media (max-width: 600px) {
  .transaction-container {
    .ui.segment {
      padding: 10px 13px !important;
    }
  }
}
@media (max-width: 425px) {
  .transaction-container {
    .summary-cards {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 416px;
    }
    .summary-cards > * {
      flex: 0 0 48%;
    }
  }
}
@media (max-width: 375px) {
  .transaction-container {
    .summary-cards {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 366px;
    }
    .summary-cards > * {
      flex: 0 0 48%;
    }
  }
}
@media (max-width: 375px) {
  .transaction-container {
    .ui.segment {
      max-width: 375px;
    }
  }
}
@media (max-width: 320px) {
  .transaction-container {
    .ui.segment {
      max-width: 322px;
    }
    .summary-cards {
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 10px;
      width: 301px;
    }
    .summary-cards > * {
      flex: 1 1 80px;
    }
  }
}
