.last-year-header {
  display: flex;
  margin-top: 25px;

  .sub-title {
    padding: 5px;
    font-size: 16px;
    margin-top: 5px;
    opacity: 0.9;
  }
}

.chart-area-header {
  display: flex;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-container {
  margin: 20px 45px;
  .all-user-transactions {
    margin-top: 30px;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -1rem;
    .from-to {
      display: flex;
      justify-content: flex-end;

      .from {
        display: flex;
        h4 {
          margin: auto;
          padding-right: 0.5rem;
        }
      }
      .to {
        display: flex;
        h4 {
          margin: auto;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }
  }
}

.backImage {
  display: inline;
  margin: 8px 45px 0px;
  cursor: pointer;
}
