.add-store-container {
  width: 100%;
  display: block;
  max-width: 595px;
  margin: 20px auto;
  margin-bottom: 5.5rem;
  .add-store-form {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin-top: 30px;
    padding: 22px;
    background: #ffffff;
    border-radius: 5px;
    .image-preview {
      width: 100%;
      height: 132px;
      margin: 10px 0;
      border: 1px solid #cfcfcf;
      .img-placeholder {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 10px;

        span {
          font-size: 13px;
          color: #a0a0a0;
          text-align: center;
        }
      }
    }
    .user-phone-number {
      padding: 0px 10px;
      height: 46px;

      .SelectCountryCode {
        width: 13%;
        .dropdown-flag {
          img {
            width: 70%;
          }

          i {
            margin: auto;
          }
        }
      }
    }

    .dropdown-flag {
      position: relative;
      width: 50px;
      .caret.down.icon.inline {
        position: absolute;
        left: 30px;
      }
      img {
        width: 30px !important;
        height: 20px !important;
      }
    }
    .country-input {
      .dropdown-wallet {
        img {
          width: 70%;
        }
      }
    }
    span {
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }

    input {
      border-style: none;
      padding: 17px;
      height: 44px;
      font-size: 15px;
      border: none !important;

      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #1e2120;
      }
    }

    button {
      width: 100%;
      background-color: #1e2120 !important;
      border-radius: 0;
      text-transform: uppercase;
      margin-top: 15px;
      padding: 17px;

      &:hover {
        background-color: #1e2120;
      }
      &:focus {
        background-color: #1e2120;
      }
    }

    .category-selector {
      border: 1px solid #cfcfcf;
      .selection.dropdown {
        display: flex;
        align-items: center;
        border-radius: 0;
        border: none;
        background: #ffffff !important;
        height: 44px;
      }
    }

    .isOpenWeekend {
      margin-bottom: 14px;
      .toggle-label {
        margin-right: 20px;
      }
    }

    textarea {
      width: 100%;
      letter-spacing: 1px;
      outline: none;
      overflow: auto;
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #cfcfcf;
      padding: 17px;
      margin-bottom: 14px;

      &::placeholder {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #1e2120;
      }

      &:focus {
        background-color: #ffffff;
        border-radius: 0;
      }
    }

    .input-image {
      .input {
        display: flex;
        align-items: center;
        padding: 0 9px;
        input {
          background: transparent !important;
          &:focus {
            border: none !important;
          }
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .programme {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    .opening-hours-group-label {
      display: block !important;
    }
    .opening-hours-group {
      display: flex !important;
      flex-direction: column !important;
      .dropdowns {
        display: flex;
        flex: 1;

        .ui.search.selection.dropdown {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0 !important;
        }
        .to-label {
          margin: 0 10px;
          margin-top: 10px;
        }

        .ui.search.dropdown {
          min-width: 80px;
          max-height: 20px;
        }
        .error.field.hours.from {
          max-height: 36px;
          max-width: 100px;
        }

        .error.field.hours.to {
          max-height: 36px;
          max-width: 100px;
        }

        .error.field.hours {
          margin-bottom: 1.5rem !important;
        }

        div.search.selection.dropdown {
          max-width: 20px !important;
        }
      }
    }

    .pick-position {
      width: 8%;
      margin-top: 0;
      padding: 5px;
    }

    .country-input {
      img {
        width: 30px !important;
      }
      margin-bottom: 14px;
    }
  }
}
.modal-map-content {
  height: 625px;
}

@media (max-width: 950px) {
  .add-store-container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .add-store-container {
    width: 100%;
    position: relative;

    .goBack {
      position: absolute;
      left: 0px;
      top: -19px;
    }

    .add-store-image {
      width: 70%;
      margin: auto;
    }

    .add-store-form {
      textarea {
        min-width: 100px;
      }

      .programme {
        flex-direction: column;
      }
      .input-image.city {
        width: 100%;
      }
      .pick-position {
        width: 14%;
      }
    }
  }

  .modal-map-content {
    height: 550px;

    div {
      div[style='height: 600px;'] {
        height: 525px !important;
      }
    }
  }

  @media (max-width: 330px) {
  }
}

.rotate-actions {
  margin-top: 20px;
}
