.edit-store-container {
  width: 85%;
  .add-store-form {
    width: 100%;
    padding: 5px 22px;
    background: #ffffff;
    border-radius: 5px;
    .image-preview {
      width: 100%;
      height: 132px;
      margin-bottom: 10px;
      .img-placeholder {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        background: #ececec;
        width: 100%;
        height: 100%;

        span {
          font-size: 13px;
          color: #a0a0a0;
        }
      }
    }
    .user-phone-number {
      padding: 0px 10px;
      height: 46px;

      .SelectCountryCode {
        width: 13%;
        .dropdown-flag {
          img {
            width: 70%;
          }

          i {
            margin: auto;
          }
        }
      }
    }

    .dropdown-flag {
      position: relative;
      width: 50px;
      .caret.down.icon.inline {
        position: absolute;
        left: 30px;
      }
      img {
        width: 30px !important;
        height: 20px !important;
      }
    }
    .country-input {
      .dropdown-wallet {
        img {
          width: 70%;
        }
      }
    }

    span {
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
    .ui.input {
      background: red;
    }
    input {
      border-radius: 0 !important;
      background: #ffffff !important;
      border-radius: 4px;
      border-style: none;
      padding: 17px;
      // height: 44px;
      // font-size: 14px;
      border: 0px solid !important;

      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #1e2120;
      }

      &:focus {
        // border: 0.1px solid #ea5726 !important;
        // border-radius: 4px !important;
      }
    }

    button {
      width: 100%;
      background-color: #1e2120 !important;
      border-radius: 0;
      text-transform: uppercase;
      margin-top: 15px;
      padding: 17px;

      &:hover {
        background-color: #1e2120;
      }
      &:focus {
        background-color: #1e2120;
      }
    }

    .category-selector {
      .selection.dropdown {
        display: flex;
        align-items: center;
        border-radius: 0;
        border: none;
        background: #e6e8ec94 !important;
        height: 44px;
        input:focus {
          // border: 0.1px solid #ea5726 !important;
          // border-radius: 0 !important;
        }
      }
    }

    .isOpenWeekend {
      margin-bottom: 14px;
      .toggle-label {
        margin-right: 20px;
      }
    }

    textarea {
      width: 100%;
      min-width: 400px;
      max-width: 100%;
      font-size: 1rem;
      letter-spacing: 1px;
      outline: none;
      overflow: auto;
      background-color: #1e21201c;
      border-style: none;
      border-radius: 0;
      padding: 17px;
      margin-bottom: 14px;

      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #1e2120;
      }

      &:focus {
        // border: 1px solid #ea5726;
        // background-color: #1E21201c;
        // border-radius: 0;
      }
    }

    .input-image {
      .input {
        background: #ffffff !important;
        display: flex;
        align-items: center;
        padding: 0 9px;
        input {
          background: transparent !important;
          // &:focus {
          //   border: none !important;
          // }
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .input-image.city {
      width: 50%;
    }

    .programme {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    .opening-hours-group {
      display: flex !important;
      flex-direction: column !important;
      .dropdowns {
        display: flex;
        flex: 1;

        .ui.search.selection.dropdown {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0 !important;
        }
        .to-label {
          margin: 0 10px;
          margin-top: 10px;
        }

        .ui.search.dropdown {
          min-width: 80px;
          max-height: 20px;
        }
        .error.field.hours.from {
          max-height: 36px;
          max-width: 100px;
        }

        .error.field.hours.to {
          max-height: 36px;
          max-width: 100px;
        }

        .error.field.hours {
          margin-bottom: 1.5rem !important;
        }

        div.search.selection.dropdown {
          max-width: 20px !important;
        }
      }
    }

    .opening-hours {
      display: flex;
      align-items: baseline;

      .hours {
        border-right: 0;
        margin: 0px 0px 0px 0px;
        border-top: 0;
        border-left: 0;
        padding: 0.5em 2em 0.5em 0.7em;
        min-width: unset !important;
        min-height: unset !important;
        border-radius: 0px;
        width: 69px;

        i {
          padding: 0.6em !important;
        }

        input.search {
          padding: 0 2.1em 1.27857143em 1em;
        }
      }
    }

    .pick-position {
      width: 8%;
      margin-top: 0;
      padding: 5px;
    }

    .country-input {
      margin-bottom: 14px;
    }
  }
}
.modal-map-content {
  height: 625px;
}

@media (max-width: 950px) {
  .edit-store-container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .edit-store-container {
    width: 100%;
    position: relative;

    .goBack {
      position: absolute;
      left: 0px;
      top: -19px;
    }

    .add-store-image {
      width: 70%;
      margin: auto;
    }

    .add-store-form {
      textarea {
        min-width: 100px;
      }

      .programme {
        flex-direction: column;
      }
      .input-image.city {
        width: 100%;
      }
      .pick-position {
        width: 14%;
      }
    }
  }

  .modal-map-content {
    height: 550px;

    div {
      div[style='height: 600px;'] {
        height: 525px !important;
      }
    }
  }

  @media (max-width: 330px) {
  }
}
