.SelectCountryCode {
  display: flex;
  align-items: center;

  .country-code {
    padding-top: 10px;
    padding-right: 10px;
  }
  .trigger {
    width: 40px;
  }
  .flag-placeholder {
    margin-top: 8px;
    font-size: 16px;
  }

  .dropdown-flag {
    display: flex;
  }
}
.ui.disabled.dropdown {
  opacity: 1 !important;
}
