.SelectCountryCode {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  .trigger {
    width: 40px;
  }
  .flag-placeholder {
    margin-top: 8px;
    font-size: 16px;
  }
}
.ui.disabled.dropdown {
  opacity: 1 !important;
}
