.YouthCardBG {
  background-image: linear-gradient(
      to bottom,
      rgba(40, 43, 78, 0.85),
      rgba(40, 43, 78, 0.95)
    ),
    url('../../../assets/images/credit-card-bg.png');
}

.SilverCardBG {
  background-image: linear-gradient(
      to bottom,
      rgba(90, 90, 90, 0.85),
      rgba(90, 90, 90, 0.95)
    ),
    url('../../../assets/images/credit-card-bg.png');
}

.GoldCardBG {
  background-image: linear-gradient(
      to bottom,
      rgba(214, 142, 2, 0.85),
      rgba(214, 142, 2, 0.95)
    ),
    url('../../../assets/images/credit-card-bg.png');
}

.PlatinumBG {
  background-image: linear-gradient(
      to bottom,
      rgba(156, 156, 156, 0.85),
      rgba(156, 156, 156, 0.95)
    ),
    url('../../../assets/images/credit-card-bg.png');
}

.BlackBG {
  background-image: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0.85),
      rgba(10, 10, 10, 0.95)
    ),
    url('../../../assets/images/credit-card-bg.png');
}

.YouthBackBG {
  background-image: linear-gradient(
    to bottom,
    rgba(40, 43, 78, 0.85),
    rgba(40, 43, 78, 0.95)
  );
}

.SilverBackBG {
  background-image: linear-gradient(
    to bottom,
    rgba(102, 102, 102, 0.664),
    #676767
  );
}

.GoldBackCardBG {
  background-image: linear-gradient(
    to bottom,
    rgba(214, 142, 2, 0.85),
    #d68d01
  );
}

.PlatinumBackBG {
  background-image: linear-gradient(
    to bottom,
    rgba(221, 221, 221, 1),
    #666666
  );
}

.BlackBackBG {
  background-image: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0.85),
    rgba(10, 10, 10, 0.95)
  );
}

.CardList {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: auto;
  width: 96%;
  padding: 2%;
  max-width: 780px;
  margin-top: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.CardLayout {
  border-bottom: 1px solid #ebebeb;
}
.SMCardLayout {
  margin: 0;
  width: 248px;
}
