.general-info {
  padding: 10px;
  .information {
    div {
      margin: 8px 0 15px 0;
      span:first-child {
        font-weight: 500;
      }
    }
    .description {
      margin-bottom: 35px;
    }
  }
}
