.my-campaigns {
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 5rem;
    width: 75%;
    .title {
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 8px;
    }
    .my-campaigns-list {
      background-color: #ffffff;
      padding: 2rem 0rem 0.1px 0rem;
    }

    .publicity-state {
        margin: -1rem 1rem 1rem 1rem;
    }
  
    img.goBack {
      position: absolute;
      left: 32px;
      top: 90px;
    }
  
    img.addImage {
      position: fixed;
      right: 60px;
      top: 200px;
    }
  }
  
  @media (max-width: 500px) {
    .my-campaigns {
      position: relative;
      width: 95%;
      margin: 3rem auto;
  
      .my-campaigns-list {
        background-color: #ffffff;
        padding: 2rem 1rem 0.1px 1rem;
      }
  
      img.addImage {
        right: 20px;
        top: unset;
        bottom: 20px;
      }
  
      img.goBack {
        position: absolute;
        left: 0px;
        top: -39px;
      }
    }
  
    @media (max-width: 330px) {
    }
  }
  