.wrap_contact {
  padding: 30px 20px;
  .contact-inner {
    width: 100%;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    .options {
      margin-top: 15px;
    }
    h4 {
      font-weight: 700;
    }
    .email,
    .phone-contact {
      padding: 3px 0;
      color: #656565;
    }
    .image-preview {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      display: block;
      cursor: pointer;
      position: relative;
      img {
        z-index: 1;
      }
      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-image: url('../../../assets/images/ImageZoom.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 0 0;
        z-index: 2;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .options {
    display: flex;
    flex-wrap: wrap;
    .circle-wrapper {
      margin: 5px 2% 20px 0;
      flex: 0 0 48%;
    }
  }
}
@media only screen and (min-width: 761px) {
  .my-wallet {
    width: 100% !important;
    max-width: 650px;
    margin: 0 auto;
  }
  .contact-inner {
    margin-bottom: 35px;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    .circle-wrapper {
      margin: 5px 2% 20px 0;
      flex: 0 0 31.333333%;
    }
  }
  .content-contacts .contact-inner-inner .contact-inner .graph_ {
    margin-left: 100px;
  }
}
