.react-datepicker__input-container {
  height: 40px;
}
.datePicker {
  width: 100%;

  border-radius: 4px;
}
.datePickerWrapper {
  width: 100%;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 2px;
}

.DateInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ced4da;
  border-radius: 4px;
  .InputIcon {
    display: flex;
    justify-content: center;
    width: 20%;
  }
  .DateInput {
    height: 40px;
    width: 80%;
    border: none !important;
    border-radius: 4px;
    margin-left: -15px !important;
  }
}
.focused {
  border-color: rgba(85, 176, 251, 0.404) !important;
  outline: none !important;
  border-radius: 5px;
}

.date-error {
  color: red;
  display: inline-block;
  position: relative;
}
