.menustyle-options {
  padding: 10px 0px;
}
.itemName {
  padding-left: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.iconItem {
  padding-top: 3px;
}

.icon-image {
  &:hover {
    color: #da6037;
  }
}
