.search-area {
  display: flex;
  justify-content: center;
  .input {
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.3);
    display: flex;
    margin: 2rem auto 1.5rem auto;
    min-height: 3.5rem;
    max-width: 45rem;
    padding: 0 1rem;
    width: 80%;

    input {
      border: none;
    }
  }
}

.select-contact {
  align-items: center;
  align-self: center;
  color: #202124;
  display: flex;
  flex-direction: row;
  height: 2.625rem;
  margin: 0.4rem auto;
  max-width: 48.25rem;
  min-height: 2.625rem;
  text-transform: uppercase;
  width: calc(100% - 1rem);
}

.favorite-contacts {
  align-items: center;
  align-self: center;
  color: #202124;
  display: flex;
  flex-direction: row;
  height: 1.625rem;
  margin: 0rem auto;
  max-width: 48.25rem;
  min-height: 2.625rem;
  text-transform: uppercase;
  width: calc(100% - 0.5rem);
}
.lighter {
  display: flex !important;

  .go-back {
    display: inline;
  }
}

.contact-list {
  margin: 0 auto;
  max-width: 48.25rem;
  min-height: 25rem;
  outline: none;
}
.upper-button {
  padding-top: 0.7em !important;
  padding-bottom: 0.43em !important;
}
.upper-button-tp {
  padding-top: 0.7em !important;
  padding-bottom: 0.688em;
}

@media (max-width: 600px) {
  #favorite-contacts {
    margin: 0 auto;
    display: block;
    width: 350px !important;
  }
  .contact-list,
  .select-contact {
    margin: 0 15px;
  }

  .lighter {
    margin-left: 0;
    .go-back {
      display: none;
    }
  }
}
