.upper-title-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1rem;

  .add-wallet {
    background: #f9f9f9;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    justify-items: center;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wrap__slider {
  overflow: hidden;
  width: 100%;
  height: 135px;
  overflow-y: hidden;
  max-width: 650px;
}
.slick-slide.slick-active {
  width: 205px !important;
}
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  min-width: 0;
  width: 96%;
  max-width: 650px;
  height: 140px;
  margin: 0 auto !important;
  padding: 0 0 10px 0 !important;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
}

.slick-list {
  position: relative;
  display: block;
  height: 140px;
  overflow: hidden;
  margin-left: 23px !important;
  .slick-track {
    .slick-slide.slick-active.slick-current {
      width: 205px !important;
    }
  }
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 120px;
  min-height: 1px;
  padding: auto 1%;
  width: 98%;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  background-size: 18px 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
}
.slick-prev {
  left: -50px;
  background-image: url('../../../assets/images/slide-left.svg');
}
.slick-next {
  right: -50px;
  background-image: url('../../../assets/images/slide-right.svg');
}
.group-filter {
  display: block;
  width: 100%;
  table-layout: fixed;
}

.group-slick-cell1 {
  float: left;
  height: 31px;
}
.group-slick-wrapper {
  margin-left: 17px;
  width: 90%;
}

.wallet {
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 140px;
  &:focus {
    outline: none;
  }
  .wallet-box {
    background: #f9f9f9;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 4px !important;
    height: 100px;
    width: 185px;
  }
  .selected {
    border: 1.5px solid #da6138;
    outline: none;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35) !important;
  }
  .account-number div {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .balance {
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 26px;
      margin: 0 5px 0 0;
      border-radius: 2px;
    }
  }
}
.add-wallet {
  cursor: pointer;
  padding: 0;
  text-align: center;
  font-weight: 500;
  color: #282b4e;
  width: 100%;
  .wallet-box {
    background: rgb(221, 221, 221);
    background: linear-gradient(
      45deg,
      rgba(221, 221, 221, 1) 0%,
      rgba(251, 251, 251, 1) 99%
    );
    border: 1px solid #cfcfcf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 15px;
    margin: 4px !important;
    height: 140px;
    img {
      width: 60px;
      margin: 0 auto 10px auto;
      display: block;
    }
  }
}
