.user-personal-id {
  .sub-title-username {
    margin-top: 25px;
  }
  .btn-auth.btn-primary {
    color: #e21a22 !important;
    text-transform: uppercase;
    &:disabled {
      opacity: 0.5;
    }
  }
}

.pin {
  display: flex !important;
  max-width: 100% !important;

  &__input {
    width: 40px !important;
    padding: 0.4rem 1rem !important;
    border: none !important;
    outline: none !important;
    text-align: center !important;
    border-bottom: 1.8px solid #ccc !important;
    color: #616161 !important;
    font-size: 1.6rem !important;
    border-radius: 0px !important;
    &:not(:last-child) {
      margin-right: 1.5rem !important;
    }

    &:valid {
      border-bottom: 1.8px solid #e95927 !important;
    }

    &:disabled {
      background-color: transparent !important;
    }
  }
}
