.alert-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30px;
    margin: 0 5px;
  }
  .alert-message {
    width: calc(100% - 220px);
    padding: 0 15px;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
  }
  .wrap-buttons {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    button {
      background: #ffffff;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 7px 12px;
      margin: 0 4px;
      cursor: pointer;
      font-size: 12px;
    }
    button.btn-update {
      border: 0.5px solid #009460;
      color: #009460;
    }
    button.btn-close {
      border: 0.5px solid #ce1126;
      color: #ce1126;
    }
  }
}
@media (min-width: 941px) and (max-width: 1300px) {
  .alert-bar-wrapper {
    flex-flow: row wrap;
    flex-direction: row;
    .alert-message {
      width: 100%;
      width: calc(100% - 40px);
    }
    .wrap-buttons {
      margin-top: 10px;
      width: calc(100% - 10px);
    }
  }
}
@media (max-width:  940px) {
  .alert-bar-wrapper {
    flex-flow: row wrap;
    flex-direction: row;
    .alert-message {
      width: 100%;
      width: calc(100% - 40px);
    }
    .wrap-buttons {
      margin-top: 10px;
      width: calc(100% - 90px);
    }
  }
}
