.status-bar-container {
  margin-top: 20px;
  border: 1px solid #DA6138;
  border-left-width: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1%;
  width: 100%;
  border-radius: 3px;
  position: relative;
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 5px 8px;
    background: #eeeeee;
    color: #505050;
    border-radius: 3px;
  }
  img {
    width: 80px;
    margin: 0 15px;
  }
  .alert__message {
    padding: 10px;
    h3 {
      margin: 0;
      padding: 0;
    }
    div{
      color: #898989;
    }
    button {
      border: none;
      padding: 8px 15px;
      background: #DA6138;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      margin: 8px 0;
      color: #ffffff;
    }
  }
}

@media (max-width: 500px) {
  .status-bar-container {
   img {
     display: none;
   }
  }
}
