.change-password-container {
  width: 360px;
  button {
    margin-top: 0 !important;
  }
}

@media (max-width: 950px) {
  .change-password-container {
    width: 360px;
  }
}

@media (max-width: 500px) {
  .change-password-container {
    width: 100%;
    margin: auto;
  }

  @media (max-width: 330px) {
  }
}
