.item-wrapper {
  display: flex;
  cursor: pointer;
  justify-content: space-between;

  .name-message {
    padding: 0px;
    margin-left: 15px;
    flex: 1;
    margin-top: 10px;

    .name-time-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;

      .time {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
      }
    }
    .name {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 0px;
      color: #333556;
    }
    .dark-color {
      font-weight: bold !important;
      color: black !important;
    }

    .message {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      display: flex;
      flex: 1;
      line-height: 12px;
      color: #333556;
    }

    .unread-count {
      align-self: flex-end;
    }
  }

  .time-seen-status {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .item-wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
