.tel-area {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    border-bottom: 1px solid #ccc;

    input {
      padding-left: 0px !important;
      border-bottom: none;
      margin-top: 8px;
    }

    input :focus {
      padding-left: 0px !important;
      border-bottom: none;
    }
  }
  .checkbox_container {
    display: flex;
    align-items: flex-end;
    .checkbox {
      align-self: center;
      margin-top: 15px;
    }
    .checkbox-text {
      margin-left: 5px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;

      color: #333556;
    }
  }
}
.ui .checkbox .box:before,
.ui.checkbox label:before {
  background: rgba(51, 53, 86, 0.11) !important;
  color: #0a9220;
  border-radius: 0px !important;
  border-style: none;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  color: #0a9220;
}
.dest-country {
  width: 70%;
  text-align: center;
  font-family: Montserrat;
  margin: 5px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;

  .currency {
    .currency-chooser {
      .ui.selection.dropdown {
        border: none;
        border-radius: 0px;
        min-width: 150px !important;
        min-height: 3.14286em;
        background-color: #e6e8ec;
      }
      .ui.selection.dropdown:focus {
        border-color: #e6e8ec;
      }
    }
  }

  .choose-dest-country {
    margin-bottom: 2px;
  }
}
