.VoucherStores {
  .voucher-stores {
    &__items {
      margin-top: 10px;
      &__item:focus {
        border: none;
      }
      &__item {
        padding: 10px 0 0px 10px;
        background-color: transparent;
        border: none;
        width: 100%;
        border-bottom: 1px solid rgba(51, 53, 86, 0.21);
        text-align: left;
        cursor: pointer;

        &__image-container {
          width: 100px;
          &__image {
            width: 100%;
            margin: 8px 0;
            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15);
          }
        }

        &__details {
          width: 98%;
          margin: 5px 0 10px 0;
          padding-left: 10px;
          &__row {
            margin-bottom: 3px;
          }

          &__row:nth-child(4) {
            margin-top: -6px;
          }

          & span:first-child {
            font-weight: 600;
          }

          & > span:nth-child(2),
          & > span:nth-child(3),
          & > span:nth-child(4) {
            font-size: 12px;
          }

          & > span:nth-child(2) {
            margin-top: 2px;
          }

          & > span:nth-child(3) {
            margin-bottom: 10px;
          }
          &__thumbs-icons {
            color: #ea5726;
            margin-right: 5px;
            margin-top: 0px;

            &__numbers {
              font-weight: 400;
              color: #000;
              font-size: 12px;
            }
          }
          &__thumbs-icons span {
            margin-right: 5px;
          }
        }
      }

      &__item:last-child {
        border-bottom: none;
      }
    }
  }
  .ui.floating.dropdown > .menu {
    margin-top: -15px !important;
  }
  .rating-count {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    margin: auto;
    padding-left: 10px;
    margin-left: 5px;
  }
}

.wrap-ratings {
  width: 104px;
  height: 20px;
  position: relative;
  background: #ededed;
}
.wrap-ratings::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url('https://res.cloudinary.com/ninjas/image/upload/v1593375619/star-ratings_jcr4fk.svg');
  background-position: top left;
  background-size: 104px 20px;
  background-attachment: cover;
}
.wrap-ratings button {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  top: 0;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
}
.wrap-ratings div {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgb(255, 204, 0);
}
