.pin-form {
  .pin-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px !important;
    .pin-input {
      width: 20% !important;
      input {
        text-align: center;
      }
    }
  }
}
