.stat-container {
  background: #323556;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-radius: 3px;
  width: 49%;
  .stat-number {
    color: #f3aa18;
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
  }
}
