.Youth {
  background-image: linear-gradient(
    to bottom,
    rgba(40, 43, 78, 0.85),
    rgba(40, 43, 78, 0.95)
  );
}

.Silver {
  background-image: linear-gradient(
    to bottom,
    rgba(102, 102, 102, 0.664),
    #676767
  );
}

.Gold {
  background-image: linear-gradient(
    to bottom,
    rgba(214, 142, 2, 0.85),
    #d68d01
  );
}

.Platinum {
  background-image: linear-gradient(
    to bottom,
    rgba(221, 221, 221, 1),
    #666666
  );
}

.Black {
  background-image: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0.85),
    rgba(10, 10, 10, 0.95)
  );
}
