@import 'src/assets/styles/mixins';

.CardVerso {
  color: #fff;
  height: 178px;
  width: 310px;
  // background: #333556;
  padding: 20px;
  border-radius: 7px;
  .CVV {
    color: #2a324f;
    display: flex;
    justify-content: space-between;
    background-color: #d7d7d7;

    .Lines {
      width: 70%;

      hr {
        width: 100%;
        margin-left: 0.6rem;
      }
    }

    .Cvv {
      padding: 0.5rem;
    }
  }

  .Description {
    margin-top: 0.4rem;

    p {
      color: rgba(215, 215, 215, 0.685);
      font-size: 0.7rem;
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1100px) {
  .Card {
    color: #fff;
    height: 168px;
    width: 290px;
    padding: 16px;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 759px) {
  .Card {
    color: #fff;
    height: 150px;
    width: 270px;
    padding: 10px;
    border-radius: 3px;
  }
}