.change-dob-container {
  width: 30%;
  //OVERRIDING THE CALENDAR PACKAGE
  .calendar_input {
    position: relative;
    margin: 0 0 10px 0 !important;

    input[name='dob'] {
      height: 40px !important;
      background-image: url('../../../../assets/images/calendar_icon.png');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 5px 7px;
    }
  }
  .gender_input {
    position: relative;
    margin: 0 !important;

    background-image: url('../../../../assets/images/gender-icon.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 5px 8px;
  }

  .gender_input_select {
    margin-bottom: 10px !important;
    background-color: #e6e8ec94 !important;
  }

  .ui.selection.dropdown {
    background: transparent;
    padding-left: 45px;
    border: none;
  }

  .ui.icon.input > i.calendar.icon:before {
    display: none;
  }

  .ui[class*='left icon'].input > input {
    padding-left: 3em !important;
    padding-right: 1em !important;
  }
  .calendar_caret {
    position: absolute;
    left: 250px;
    top: 15px;
    i::before {
      display: none;
    }
  }
}

@media (max-width: 950px) {
  .change-dob-container {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .change-dob-container {
    width: 100%;
    margin: 10px auto;
  }
}
