@import '../../../../assets/styles/mixins';

.StoreDetailsComp {
  margin-top: 10px;

  .store-logo {
    margin-top: -20px;
    margin-left: 9px;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 100%;
  }

  .imageContainer {
    height: 15em;
  }

  .storeBanner {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .store-top-options {
    margin-top: 12px;
  }
  .like-dislike {
    margin-top: -6px;
  }

  .statss {
    display: flex;
    margin-top: 10px;

    button {
      border: none;
      background: none;
      cursor: pointer;
      padding: 1px 1px;
    }

    .likes {
      color: #333556 !important;
      font-family: Montserrat;
      font-style: italic;
      display: flex;
      font-weight: 300;
    }
  }

  .reviews {
    margin-top: -7px;
    margin-left: 8px;
  }

  .stat-item {
    margin-right: 15px;
  }
  .durations {
    margin-right: 10px;
  }

  .durations {
    text-transform: capitalize;
  }
  .category,
  .open-hrs {
    color: #282b4e;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
  }

  .category {
    margin-bottom: 10px;
  }
  .address-box {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .address {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .rating {
    display: flex;
    flex-direction: column;
  }
  .stars {
    display: flex;
    height: 36px;
  }
  .star {
    height: 15px;
  }

  .description {
    font-size: 1.105rem;
    color: grey;
  }

  .stat-header {
    font-size: 15px;
    color: #586069 !important;
  }

  .stats-value {
    font-weight: bold;
    color: black;
    font-size: 17px;
  }
  .stats-card {
    background-color: #f1f1f1 !important;
    padding: 25px 10px;
    border-radius: 2%;
  }

  i.icon.th.large:before {
    font-size: 14px;
  }
  i.icon.th.large {
    margin-top: -6px;
    margin-left: -4px;
  }

  //RATING SNIPPETS

  .wrap-ratings {
    width: 104px;
    height: 20px;
    position: relative;
    background: #ededed;
  }
  .wrap-ratings::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('https://res.cloudinary.com/ninjas/image/upload/v1593375619/star-ratings_jcr4fk.svg');
    background-position: top left;
    background-size: 104px 20px;
    background-attachment: cover;
  }
  .wrap-ratings button {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    top: 0;
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
  }

  .wrap-ratings div {
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: #fecc2f;
  }

  @media only screen and (min-width: 992px) {
    .description {
      width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 600px) {
    .category {
      margin-top: -17px;
    }

    .item {
      padding: 5px !important;
    }
    .store-top-options {
      margin-top: 0px;
    }
    .likes {
      padding-right: 3px !important;
      padding-right: 8px !important;
    }
    .open-hrs {
      font-size: 14px;
    }
  }

  @include respond-to(mobile) {
    .imageContainer {
      height: 10em !important;
    }
    .sendVoucherTop {
      margin-top: 250px;
    }

    .likes:last-child {
      margin: 30px -205px;
    }
    .open-hrs {
      font-size: 12px;
    }
  }
  @include respond-to(mobile-landscape) {
    .imageContainer {
      height: 10em !important;
      width: 22.5em !important;
    }
  }
  @include respond-to(tablet) {
    .imageContainer {
      height: 10em !important;
      width: 22em !important;
    }
  }

  @include respond-to(tablets-landscape) {
    .imageContainer {
      height: 10em !important;
      max-width: 22em !important;
    }
  }
  @include respond-to(small-desktop) {
    .imageContainer {
      height: 10em !important;
      max-width: 22em !important;
    }
  }

  @media only screen and (max-width: 320px) and (max-width: 380px) {
    .imageContainer {
      height: 10em !important;
      width: 18em !important;
    }
  }
}
