.wrap__contacts {
  margin: 10px 0;
  width: 100%;
  .one-contact {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    height: 62px;
    text-align: center;
    width: 62px !important;
    padding: 2px;
    position: relative;
    margin: 0 3px;
    img {
      position: absolute;
      top: 7px;
      left: 0;
      right: 0;
      width: 25px;
      height: 25px;
      margin: 5px auto;
      display: block;
    }
    a {
      color: #1a1a1a;
      font-size: 14px;
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      font-size: 12px !important;
      bottom: 2px;
      width: 100%;
      left: 0;
    }
    .thumbnail {
      position: absolute;
      text-overflow: unset;
      top: 7px;
      left: 0;
      right: 0;
      width: 30px !important;
      height: 30px !important;
      margin: 2px auto;
      display: block;
      font-size: 6px;
      background: #4c4c4c !important;
      span {
        position: relative;
        top: 6px;
        left: -5px;
      }
    }
  }
  .one-contact:hover {
    background: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  }

  .slick-slider {
    width: 100% !important;
    position: relative;
    height: 70px;

    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
      height: 30px;
      width: 30px;
    }

    .slick-arrow.slick-next {
      transform: translateX(-30px);
    }
    .slick-arrow.slick-prev {
      transform: translateX(30px);
    }

    div.slick-slide {
      width: fit-content !important;
      height: fit-content;
    }

    div.slick-slide.slick-active.slick-current {
      width: fit-content !important;
    }

    .one-contact {
      width: 65px !important;
      margin: 0 3px;
    }
  }
}

@media (max-width: 767px) {
  .one-contact {
    max-width: 80px !important;
  }
  .wrap__contacts {
    max-width: 90vw;
  }
}
