.notification-container {
  width: 60%;
  margin: 20px auto;
  background-color: #ffffff;

  .notifications-item {
    cursor: text !important;
    border-bottom: 1px solid rgba(51, 53, 86, 0.11) !important;
    padding: 5px 10px;
  }
  .icon-actions {
    .action {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 5px;

      background: #fcfcfc;
      border: 1px solid rgba(51, 53, 86, 0.11);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .notif-info {
    .name {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      color: #333556;
    }

    .time {
      font-family: Montserrat;
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;

      color: #333556;
    }
  }

  .notif-message {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #333556;
  }

  .icon-actions {
    .action {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 5px;

      background: #fcfcfc;
      border: 1px solid rgba(51, 53, 86, 0.11);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 15px;
        height: 15 px;
      }
    }
  }

  .notif-info {
    .name {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      color: #333556;
    }

    .time {
      font-family: Montserrat;
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;

      color: #333556;
    }
  }

  .notif-message {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #333556;
    padding-left: 50px;

    margin: 5px 5px 5px 20px;
    margin-left: 15px;
  }

  .publicity-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #333556;

    margin: 5px 5px 5px 20px;
  }
}

@media (max-width: 500px) {
  .notification-container {
    width: 90%;
  }
}
