.cards_bottom {
  width: 203px;
  height: 165px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 300ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #333556;
  }
  .image {
    margin-top: -10px;
    padding-bottom: 5px;
  }
  .sub-title {
    margin-top: 0px;
    padding: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #333556;
  }
}

@media (max-width: 475px) {
  .cards_bottom {
    width: 150px;
    height: 125px;
    .image {
      height: 45px !important;
    }
  }
}
