@import '../../assets/styles/mixins';
@import '../../assets/styles/_colors.scss';

.user__card {
  width: 100%;
  text-align: center;
  .avatar-image {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px auto;
    display: block;
    .camera-input {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }
  .user-info {
    h2 {
      font-size: 16px;
      font-weight: 700;
    }
    .presence-status {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.profile__wrapper {
  button {
    // background-color: $darker-blue;
    color: #ffffff !important;
  }
}

@media (max-width: 500px) {
  .bottom-tab-pane.segment.tab.ui {
    width: 100% !important;

    .edit-general-info {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .wrap__container {
    .profile__wrapper {
      margin-left: -7px;
    }
  }
}

@media (max-width: 330px) {
  .wrap__container {
    .profile__wrapper {
      margin-left: -12px;
    }
  }
}
