.user__card {
  width: 100%;
  text-align: center;
  .avatar-image {
    position: relative;
    width: 100px;
    height:100px;
    margin: 15px auto;
    display: block;
    .camera-input {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }
  .user-info {
    h2 {
      font-size: 16px;
      font-weight: 700;
    }
  }
}