.dashboard {
  margin: 15px 1% 0 1%;
  width: 100%;
  .dash-title {
    color: #4b4b4b;
    word-break: keep-all;
    font-weight: 300;
  }
  .dash__left {
    width: 70%;
    float: left;
  }
  .dash__right {
    width: 30%;
    float: left;
  }
  .dash__card {
    width: 99%;
    margin: 15px 0;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
  .wrap__graph {
    overflow: hidden;
    padding: 0 15px;
    .recharts-wrapper {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
    }
  }

  .dash_welcome {
    padding:26px 2%!important;
    width: 96%;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    div {
      max-width: 360px;
      color: #4b4b4b;
    }
    background-image: url('./../../assets/images/welcome_dash.svg');
    background-size: 332px 700px;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .overviewcard {
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }
  .u-graph {
    width: 99%;
  }



  .dashboard-content-wrapper {
    margin: 0 15px 0 0;
    clear: both;
    .services {
      padding: 10px 0;
      .services-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
        color: #000000;
      }
    }
  }

  @media only screen and (max-width: 999px) {
    .position-switcher {
      display: grid;
      .dash__left {
        order: 2;
      }
      .dash__right {
        order: 1;
      }
    }
    .dash_welcome {
      div {
        max-width: 180px;
      }
    }
    .dash__left,
    .dash__right {
      width: 100%;
    }
  }
  @media only screen and (max-width: 460px) {
    .dash_welcome {
      background-image: none;
      div {
        max-width: 400px;
      }
    }
  }
}