#show-case-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/images/marketplace/showcase.png');
  padding: 1em 0em;
}

#right-services-side-column {
  .sidebar-add {
    position: fixed;
    top: 90px;
    max-width: 17.75% !important;

    transition: all 2s linear 1s;
    -webkit-transition: all 2s linear 1s;
    -moz-transition: all 2s linear 1s;
    -ms-transition: all 2s linear 1s;
    -o-transition: all 2s linear 1s;
  }
}

#right-services-side-column,
#main-services-column {
  .ui.tabular.menu .item {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.32);
  }
  .ui.tabular.menu .active.item {
    color: rgba(0, 0, 0, 0.95);
    border-top-width: 0px;
    border-right: none;
    border-left: none;
    border-color: #d4d4d5;
    font-weight: 700;
    border-bottom: 2px solid #282b4e;
    margin-bottom: -1px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
  }
}
#show-case-area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 53, 86, 0.35);
}

.market-place-logo {
  margin-top: 10px;
  margin: auto 1px;
}

.tabs-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  .ui.secondary.pointing.menu .item {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;

    color: #657786;
  }

  .ui.secondary.pointing.menu .active.item {
    color: orangered;
    border-bottom-color: orangered;
  }
}

@media (max-width: 768px) {
  #right-services-side-column,
  #category-column {
    display: none;
  }
  #main-services-column {
    width: 100% !important;

    .ui.tabular.menu .active.item {
      color: rgba(0, 0, 0, 0.95);
      border-top-width: 0px;
      border-right: navajowhite;
      border-left: none;
      border-color: #d4d4d5;
      font-weight: 700;
      border-bottom: 2px solid #282b4e;
      margin-bottom: -1px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
    }
  }
}
