.card-container {
  background: #fff;
  margin: 15px 15px 15px 0;
  width: 24%;
  border-radius: 4px;
  padding: 15px;
  .margin-btm {
    margin-bottom: 1rem;
  }
  .card-summary {
    display: flex;
    justify-content: space-between;

    .wallet-count {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
