.GoBack {
  margin-top: -3.6rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  position: absolute;
  margin-left: 0.13rem;
  img {
    // width: 80%;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(105, 104, 104, 0.068);
    border-radius: 50%;
  }
}
