.GoBack {
  background: #ffffff;
  &:hover {
    cursor: pointer;
  }
}

.CustomStyle {
  &:hover {
    cursor: pointer;
    border-radius: 50%;
  }
}

.Authentication {
  position: absolute;
  top: 10px;
  left: -65px;
  button {
    cursor: pointer;
    margin-right: 30px;
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background: #ffffff;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

@media(max-width: 600px) {
  .Authentication {
    left: 0px;
  }
}