.GoBack {
  margin-top: -3.6rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  position: absolute;
  margin-left: 0.13rem;

  &:hover {
    cursor: pointer;
    background-color: rgba(105, 104, 104, 0.068);
    border-radius: 50%;
  }
}
.CustomStyle {
  margin-left: -2.9rem;
  margin-top: -0.3rem;
  margin-right: 0.8rem;
  &:hover {
    cursor: pointer;
    background-color: rgba(105, 104, 104, 0.068);
    border-radius: 50%;
  }
}

.Authentication {
  margin-left: -5.9rem;
  margin-top: -20.3rem;
  margin-right: 0.8rem;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}
