.you-may-like {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 91.19%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;

  color: #657786;
}
