.searchStores {
  display: block;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  box-shadow: 0  0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 2%;
  margin: 0 auto;
  width: 96%;
  max-width: 650px;

  .ui.dropdown {
    border: 1px solid rgba(51, 53, 86, 0.11) !important;
  }
  .add-money-container {
    margin-top: 0px;
  }
  .voucherWalletImg {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
  }
  .form-labels {
    width: 158.26px;
    font-size: 15px;
  }
  .ui.dropdown .menu {
    width: 100%;
  }

  .form-compo2 {
    margin-top: 5px;
  }
  .custom-dropdown {
    background-color: #fff;
  }

  .custom-forms-el {
    background: #fff;
    width: 100%;
    height: 45px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    border: 1px solid rgba(51, 53, 86, 0.11) !important;
    border-radius: 0px !important;
  }
  .ui.input > input {
    border: none;
  }
  .ui.selection.dropdown > .delete.icon,
  .ui.selection.dropdown > .dropdown.icon,
  .ui.selection.dropdown > .search.icon {
    margin-top: -10px;
    font-size: 15px;
  }
  .form-icon {
    position: absolute;
    z-index: 1;
    background-color: #e6e8ec;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-icon img {
    height: 30px;
  }

  .toggle-el {
    margin-right: 10px;
    position: relative;
    bottom: 13px;
    font-size: 15px;
  }

  .searchStoresBtn,
  .searchStoresBtn:focus,
  .searchStoresBtn:hover {
    color: #fff;
    width: 180px;
    height: 45px;
    background: #333556;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  @media only screen and (max-width: 767px) {
    .form-compo {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
