.transcoverview-container {
  .select-overview-currency {
    display: flex;
    align-items: center;

    span {
      margin-right: 0.5rem;
    }
    i {
      margin-left: 20px !important;
      margin-right: -10px !important;
    }
  }

  .table-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    .from-to {
      display: flex;
      position: relative;
      flex-wrap: wrap;

      .date-picker {
        position: relative;
        margin: 0 !important;

        input {
          border-radius: 0 !important;
          border-top: none;
          border-right: none;
          border-left: none;
        }
      }

      .from {
        display: flex;
        span {
          margin: auto;
          padding-right: 0.5rem;
          padding-left: 0rem;
        }
      }
      .to {
        display: flex;
        span {
          margin: auto;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        button {
          width: 100%;
          text-transform: uppercase !important;
          margin-top: 0px !important;
          padding: 11px !important;

          color: #e95726 !important;
          background-color: #ffffff !important;
          border: 1px solid #e95726;
          border-radius: 5px !important;
        }
      }
    }

    .ui.selection.dropdown {
      background: transparent;
      padding-left: 45px;
      border: none;
    }

    .ui.icon.input > i.icon {
      background-image: url('../../../assets/images/calendar_icon.png');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 5px 6px;
      &::before {
        display: none;
      }
    }

    .ui[class*='left icon'].input > input {
      padding-left: 3em !important;
      padding-right: 1em !important;
    }
    .picker_caret {
      position: absolute;
      left: 35px;
      top: 15px;
      i::before {
        display: none;
      }
    }
  }

  .wallet-charts-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    .chart-placeholder {
      width: 96%;
      height: 280px;
      margin: auto;
    }

    .wallet-balance {
      display: flex;
      flex-direction: column;
      width: 50%;

      span {
        width: 100%;
        text-align: center;
      }
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #333556;
    }
  }

  .contact-transaction {
    width: 60%;

    .contact-search {
      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0 !important;
      }
    }
  }
}

@media (max-width: 950px) {
  .transcoverview-container {
    .wallet-charts-container {
      flex-direction: column;
      width: 70%;
      margin-left: 10%;

      .chart-placeholder {
        width: 100%;
        height: 280px;
      }
    }
    .contact-transaction {
      width: 100%;
    }
  }
}

@media (max-width: 414px) {
  .transcoverview-container {
    .wallet-charts-container {
      flex-direction: column;
      width: 100%;
      margin-left: 0;

      .wallet-balance {
        display: flex;
        flex-direction: column;
        width: 100%;
  
        span {
          width: 100%;
          text-align: center;
        }
      }
    }
    .contact-transaction {
      width: 100%;
    }
  }
}
