.update-id-info-container {
  .display-date {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .display-phone {
    display: flex;
    img {
      margin-right: 5px;
    }
  }
  .set-primary {
    color: #ea5726;
    font-weight: 400;
  }
  .add-phone-actions {
    display: flex;
    justify-content: flex-end;
    .back-button {
      color: #7e8494 !important;
      background: #fff !important;
    }
    .add-button {
      background: #ea5726;
      border-radius: 2px;
      font-size: 400;
      color: #fff;
    }
  }
  .phone-sub-title {
    margin-bottom: 5px;
  }
  .info-message {
    padding: 10px !important;
    width: 100% !important;
    margin: auto !important;
    justify-content: flex-start !important;
    img {
      width: 30px !important;
      margin-top: -5px !important;
    }
  }
  .otp-description {
    width: 61%;
    span {
      color: #e95927;
      font-weight: 600;
    }
    span:hover {
      cursor: pointer;
    }
  }
  .otp-text {
    margin-top: 10px;
  }
  .overlay {
    position: absolute;
    width: 87%;
    height: 217px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
  }
  .id-copy {
    border: 1px solid;
    border-radius: 4px;
    width: 96%;
    margin-top: 10px;
    margin: auto;
    .user-doc-img {
      height: 217px;
      width: 100%;
      object-fit: cover;
    }
    .images-doc-actions,
    .edit-delete-doc {
      position: absolute;
      z-index: 2;
      display: flex;
      width: 88.2%;
      opacity: 0;
    }
    .images-doc-actions {
      justify-content: center;
      img {
        width: 25px;
        margin-top: 98px;
      }
    }
    .edit-delete-doc {
      justify-content: flex-end;
      margin-top: 181px;
      img {
        margin-right: 7px;
        width: 20px;
      }
      z-index: 1;
    }
    &:hover .overlay {
      display: block;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .id-copy:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
  }
  .id-copy:hover .edit-delete-doc {
    opacity: 1;
  }
  .id-copy:hover .images-doc-actions {
    opacity: 1;
  }
  .copy-title {
    margin-bottom: 10px;
  }
  .update-info-actions {
    margin-top: 20px;
    margin-right: 8px;
  }
  .edit-info-form {
    .field {
      label {
        font-size: 14px;
      }
    }
    .ui.input {
      border: none;
      height: 46px;
    }
    .date-of-birth {
      z-index: 3;
      .date-issue {
        width: 99%;
      }
      .expiry-date {
        width: 100%;
        margin-left: 4px;
      }
      .react-datepicker-wrapper {
        margin-left: 0px;
      }
    }
    .ui.dropdown.custom-dropdown {
      margin-left: 0px;
      width: 97%;
      .ui.input {
        width: auto !important;
      }
    }
    .info-nationality {
      min-width: 48% !important;
      width: fit-content !important;
    }
  }
  .display-doc-img {
    margin-left: 12px;
    margin-right: 14px;
    .id-copy {
      width: 100%;
    }
  }

  .ui.dropdown > .text {
    line-height: 1.8;
  }
  .ui.dropdown > .dropdown.icon:before {
    line-height: 2;
  }
}
@media (max-width: 767px) {
  .update-id-info-container {
    .date-of-birth {
      width: 100% !important;
      .react-datepicker-wrapper {
        width: 100% !important;
      }
      .date-issue,
      .expiry-date {
        width: 100% !important;
        margin-bottom: 10px !important;
        margin-left: 0px !important;
      }
    }
    .edit-info-form {
      .info-nationality {
        width: 100% !important;
        .ui.dropdown.custom-dropdown {
          width: 100% !important;
        }
      }
    }
  }
}
