.right-table-items {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px -5px;

  .right-wrapper {
    display: flex;
    align-items: center;
  }
}

.refresh-icon {
  cursor: pointer;
  transition: all;
}
.moreOptions {
  cursor: pointer;
}
.refresh-icon:hover {
  transform: scale(1.7);
}
.moreIcon {
  cursor: pointer;
}
.icon-in {
  transform: rotate(45deg);
}
.icon-out {
  transform: rotate(45deg);
}
.list-item-wrapper {
  display: flex !important;
  padding: 7px 0px !important;
}
.list-item-content {
  font-weight: 500;
  padding-right: 4px;
}
.list-item-right {
  font-weight: 300;
}

@media (max-width: 500px) {
  .ui.right.floated.menu {
    font-size: 0.6rem;
  }
  .right-table-items .right-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  .ui.table {
    font-size: 0.7rem !important;
  }
  .DestAmount,
  .Description,
  .AccountNumber,
  .SourceAccountNumber,
  .main-table {
    padding: 10px !important;
  }
  .right-table-items {
    margin: 10px 10px 0px;
  }
}

.filter-sidebar {
  background-color: white;

  .inner-filter-options {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .first,
    .second {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;

      .title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
      }
    }

    .filter-go-button {
      margin: 10px 0px 0px 20px;
    }
  }
}

.ui.button.toggle.active {
  background-color: #f2711c !important;
}
.ui.button.toggle.active:hover {
  background-color: #f2711c !important;
}
