.user-phone-number {
  .react-tel-input {
    width: 80%;
    .form-control {
      margin-left: 28px;
    }
    .flag-dropdown {
      border: none !important;
      background-color: #ffff !important;
    }
  }
}
