.wallet_modal {
  .title {
    font-family: Montserrat;
    font-style: normal;
  }
}

.option_modal {
  .options {
    background: #e0ddef;
    .option {
      display: block;
      padding: 10px;
      padding-top: 15px;
      padding-left: 20px;
      text-align: left;
      background: bottom;
      color: black;
      border-bottom: 1px solid rgba(50, 52, 86, 0.08);

      img.ui.image {
        height: 30px;
        display: inline-block;
        padding-right: 20px;
      }

      .desc {
        font-size: 16px;
        line-height: 24px;
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: inline;
      margin: 0;
      padding: 0;
      text-align: left;
      white-space: nowrap;
      width: 100%;
    }

    button:hover,
    button:focus,
    button:active {
      text-decoration: none;
      outline: none;
    }
  }
}
