.create-service-btn-trigger {
  display: flex;

  .contents {
    flex: 1;
    cursor: pointer;
    margin-left: 10px;

    .teaser-btn {
      background: #cfcfcf;
      border-radius: 4px;

      margin-top: 5px;
    }
    .teaser {
      background: #eff3f6;
      border-radius: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      color: #657786;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 5px;

      span {
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        padding-left: 5px;

        color: #657786;
      }
    }
  }
}
