.btn-signup {
  margin: 8px 0;
  a {
    margin: 8px 0;
    display: block;
    padding: 14px 0;
    text-align: center;
    background: #e21a22;
    font-weight: 500;
    color: #ffffff !important;
  }
}
