.pin-input-form {
  .pin-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px !important;
    .pin-input {
      width: 20% !important;
      padding: 16px auto;
      border: none;
      input {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
        font-family: text-security-disc;
        border: 1px solid #cdcdcd;
        &:focus {
          border: 1px solid #ea5726;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type='number'] {
          -moz-appearance: textfield;
        }
      }
    }
  }
}
