.pin-input-form {
  .pin-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px !important;
    .pin-input {
      width: 15% !important;
      padding: 16px auto;
      border: none;
      input {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
        font-family: text-security-disc;
        border-bottom: 1.8px solid #cdcdcd !important;
        border-radius: 0px !important;
        background-color: #fff !important;
        &:focus {
          border-bottom: 1.8px solid #a91f23 !important;
        }

        &:disabled {
          background-color: transparent;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type='number'] {
          -moz-appearance: textfield;
        }
      }
    }
  }
}
