.pin-input-form {
    .pin-input-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 14px !important;
        .pin-input {
            width: 20% !important;
            input {
                padding-left: 0px !important;
                padding-right: 0px !important;
                text-align: center;
            }
        }
    }
}