.feedbackWrapper {
    margin-top: 2rem;
    display: flex;
    height: 0%;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    align-items: center;
    justify-content: center;
    width: 100%;
    .feedbackWrapper-content {
        text-align: center;
        .titleText {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            margin-top: -23px;
            font-size: 30px;
            line-height: 37px;
            align-self: center;
            background-color: '#000000';
        }
        .messageText {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}