.Comments {
  .comments-title {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .comments-container {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d4d4d5;
  }
  .commentForm div:first-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .ui.form textarea {
    font-size: 12px !important;
    font-family: Montserrat;
    font-style: normal;
  }

  .commentActions {
    text-align: right;
  }
  .submitComment {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;

    background: #333556;
    color: #ffff;
    margin-top: 10px !important;
  }
  .submitComment:focus,
  .submitComment:hover {
    background: #333556 !important;
    color: #fff;
  }

  textarea {
    background: #ffffff !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    resize: none !important;
  }

  .comments {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #e5e5e5;
  }

  .commentThreads {
    padding-bottom: 20px;
  }
  .comment-lebel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .commentThread,
  .commentBox {
    margin: 0px 140px;
    display: flex;

    padding-bottom: 15px;
    padding-top: 15px;
  }

  .commentBox {
    &__item {
      padding: 20px 30px;
      background-color: #fcfcfc;
      border: 1px solid rgba(51, 53, 86, 0.11);
      height: 170px;
    }
  }

  .commentThread {
    border-bottom: 1px solid rgba(51, 53, 86, 0.11);
  }

  .commentUserImg {
    margin-right: 10px;
    min-width: 50px;
    max-width: 50px;
  }
  .commentInfo {
    font-family: Montserrat;
  }
  .commentInfo div:first-child {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .commentInfo div:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-indent: 3px;
    font-feature-settings: 'tnum' on, 'lnum' on, 'case' on;
  }
  .commentUser {
    font-weight: 500;
    margin-right: 5px;
    font-size: 12px;
  }
  .commentTime {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.46);
  }

  .pagination {
    margin-top: 10px !important;
  }

  @media screen and (max-width: 600px) {
    .commentThread,
    .commentBox {
      margin: 0px 5px;
    }
  }

  @media only screen and (max-width: 320px) {
    .submitComment {
      margin-top: 7px !important;
    }
    .commentBox__item {
      height: 180px;
    }
  }
}
