.dis-container {
  width: 100%;
  background: #f9f9f9;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: relative;
  .left-img {
    width: 100px;
    img {
      width: 80px;
    }
  }
  .middle-text {
    width: calc(100% - 100px);
    padding: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .wrap-check {
    position: absolute;
    top: 25px;
    right: 25px;
  }
}
.dis-container:hover {
  cursor: pointer;
}
