.preview-img-modal {
  img {
    width: 100%;
  }
  .preview-img-content {
    padding: 0 !important;
  }
  .close.icon {
    right: 0.5px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 3px;
  }
}
