.common-tel-area {
  display: inline-flex;
  align-self: flex-start;

  .SelectCountryCode {
    .country-code {
      transform: translateY(-7px);
      color: rgb(148, 148, 148);
    }
  }

  .input {
    width: 300px !important;
    overflow: hidden;

    input {
      padding-left: 30px !important;
      border-bottom: none;
      border-left: none;
      width: 300px !important;
      border-top: none;
      border-right: none;
    }

    input :focus {
      padding-left: 0px !important;
      border-bottom: none;
    }
  }
}

//Flat input
.flat-input {
  .input {
    margin: 5px 0px;
    border-bottom: 1px solid #ccc;
    width: 300px !important;

    input {
      border-bottom: none;
      border-left: none;
      border-top: none;
      border-right: none;
      width: 300px !important;
    }

    input :focus {
      padding-left: 0px !important;
    }
  }
}

@media (max-width: 490px) {
  .common-tel-area {
    margin-top: -20px;
    .input {
      input {
        width: 220px !important;
      }
    }
  }

  .flat-input {
    .input {
      width: 300px !important;

      input {
        width: 275px !important;
      }
    }
  }
}
