$black: #101010;
$light-black: #1E2120;
$light: #f4f4f4;
$grey: #b0aeae;
$white: #ffffff;
$primary: #da6138;
$dark-primary: #ca5a39;
$darken-primary: #ca5a39;
$secondary: #0a94be;
$light-secondary: #36c5f0;
$danger: #d64c4c;
$light-danger: #ff2674;
$success: #1c8a4a;
$info: #1cbdee;
$light-grey: #cbcbcb;
$lighter-grey: #e0e0e028;
$light-red: #f5eeee;
$yellow: #f9d342;
$blue: #00027a;
$darken-blue: #1E2120;
$darker-blue: #282b4e;
$orange: #ea5726;

$colors: (
  black: #101010,
  light-black: #1E2120,
  light: #f4f4f4,
  grey: #b0aeae,
  white: #ffffff,
  primary: #e21a22,
  dark-primary: #ca5a39,
  darken-primary: #ca5a39,
  secondary: #0a94be,
  light-secondary: #36c5f0,
  danger: #d64c4c,
  light-danger: #ff2674,
  success: #1c8a4a,
  info: #1cbdee,
  light-grey: #cbcbcb,
  lighter-grey: #e0e0e028,
  light-red: #f5eeee,
  yellow: #f9d342,
  blue: #00027a,
  darken-blue: #1E2120,
  darker-blue: #282b4e,
  dark-blue: #333556,
);
.btn-primary {
  background: $primary;
}
.btn-secondary {
  background: $light-black;
}
// background
@each $name, $hex in $colors {
  .#{$name} {
    background-color: $hex;
  }
}
.transparent {
  background-color: transparent;
}

// text color
@each $name, $hex in $colors {
  .text-#{$name} {
    color: $hex;
  }
  .bg-orange {
    background-color: $orange !important;
  }

  // text
  .text-black {
    color: $black;
  }
  .text-light-black {
    color: $light-black;
  }
  .text-yellow {
    color: $yellow;
  }
  .text-light {
    color: $light;
  }
  .text-light-red {
    color: $light-red;
  }
  .text-light-grey {
    color: $light-grey;
  }
  .text-grey {
    color: $grey;
  }
  .text-white {
    color: $white;
  }
  .text-primary {
    color: $primary;
  }
  .text-secondary {
    color: $secondary;
  }
  .text-danger {
    color: $danger;
  }
  .text-light-danger {
    color: $light-danger;
  }
  .text-success {
    color: $success;
  }
  .text-info {
    color: $info;
  }
  .text-blue {
    color: $blue;
  }
  .text-darken-blue {
    color: $darken-blue;
  }

  // border color
  @each $name, $hex in $colors {
    .b-#{$name} {
      border-color: $hex;
    }
    .border-#{$name} {
      border-color: $hex;
    }
    .border-#{$name}-important {
      border-color: $hex !important;
    }
  }
}
