.otp-form-container {
  .pin-title {
    margin-top: 15px;
  }
}
.sub-titles {
  margin-bottom: 5px;
}
.text-feedback {
  margin-top: 25px;
  color: #262d30;
  .feedback {
    color: #a91f23;
    cursor: pointer;
    font-weight: 400;
  }
  .otp-loader {
    margin-bottom: 15px !important;
  }
  .ui.loader:after {
    border-color: #a91f23 transparent transparent !important;
  }
}
.pin {
  .pin__input:not(:last-child) {
    margin-right: 13px !important;
  }
  .pin__input {
    background-color: #fff !important;
  }
}
