@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Roboto:wght@100;300;500;900&display=swap');
@import 'pixels';
@import 'colors';
@import 'margin';
@import 'padding';
@import 'shadow';
@import 'radius';
@import 'opacity';
@import 'border';
@import 'dimensions';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
// html, body {
//   box-sizing: border-box;
// }
// * {
//   margin: 0;
//   padding: 0;
// }
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
.reload-app-toast,
.install-app-toast {
  .install-btn,
  .reload-app-btn {
    color: $white;
    background-color: $darken-blue !important;
  }
}
button:hover,
a:hover {
  opacity: 0.7;
}
button:focus {
  outline: 0;
}
button {
  border: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

.badge {
  background-color: #ddd;
  display: inline-block;
  border-radius: 100%;
  padding: 2px 5px 2px 4px;
  color: $black;
}
.clear {
  clear: both;
}
.line-through {
  text-decoration: line-through;
}

// overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

// white-space
.white-space-wrap {
  white-space: normal;
}

.white-space-nowrap {
  white-space: nowrap;
}

// text overflow
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

// float
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  margin: 0 auto;
  display: block;
}

// align
.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.no-overflow {
  overflow: hidden;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

/* bold */

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
  margin-left: 2rem;
}
.font-light {
  font-weight: 200;
}

.no-bold {
  font-weight: normal;
}

/* text transform */

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.no-hover {
  background: none !important;
}

.hide {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

// display
.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.sub-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.session-timeout-modal {
  top: 20px;
  right: 40px;
  position: absolute !important;
  margin: 0px;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0 !important;
    width: $A4-width !important;
    height: $A4-height !important;
    background: transparent !important;
    overflow: hidden;
  }
}
// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrap__container {
  width: 96% !important;
  padding: auto 2%;
  margin: 0 auto 15px auto;
  display: block;
  min-width: 0;
}

.ui.input,
.field.currency,
.field.currency-chooser {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background: #ffffff !important;
  input {
    border-radius: 5px !important;
  }
}
.ui.menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
