@import 'src/assets/styles/mixins';

.Verso {
  color: #D7D7D7;
  height: 50px;
  width: 66px;
  border-radius: 4px;
  margin: 4px 4px 0 0;
  background-color: #2A324F;
  float: left;
  .Header {
    font-size: .4rem;
  }

  .Cvv {
    background-color: #D7D7D7;
    color: #2A324F;
    font-size: .7rem;
    text-align: right;
    padding-right: .4rem;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(42, 50, 79, 0.822);
  }
}

@include respond-to(mobile-landscape) {
  .Verso {
    height: 50px;
    width: 66px;
  }
}

@include respond-to(mobile) {
  .Verso {
    height: 50px;
    width: 66px;
  }
}