.slide-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 48.25rem;
  outline: none;
  overflow-y: auto;

  .prevNextIcon {
    align-self: center;
    margin-top: -20px;
    cursor: pointer;
  }
}
.items-container {
  display: flex;
  margin: 0px 5px 15px;
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden;
  .single-item-container {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    min-width: 8rem;
    .ellipse-icon {
      display: none;
    }
    .before-ellipse-icon {
      display: none;
    }
    .single-line {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      font-size: 12px;
      color: #333556;
    }
  }
}
.single-item-container.active {
  background-color: #f8f9fa;
}

.single-item-container:hover {
  background-color: #f8f9fa;
}
.items-container::-webkit-scrollbar {
  outline: 1px solid slategrey;
  display: none;
  -ms-overflow-style: none;
}
