.wrap-topup-form {
  margin: 0 auto;
  display: block;
  max-width: 400px;
}
.dest-country-bank,
.dest-counties,
.phone-bank,
.money-sections {
  width: 100;
  margin: 0 20%;
  display: block;
  justify-content: space-between;
}
.currency {
  padding-top: 20px;
}

#input-8809,
#input-5481 {
  margin-top: 10px;
}

.add-new-phone {
  padding-top: 20px;
  .react-tel-input {
    margin-top: 10px;
  }
  input {
    height: 47px !important;
  }
}
.amount-input {
  .ui.input {
    width: 100%;
    margin-right: 5px;
    padding: 4px 0 !important;
  }
}
.react-tel-input .form-control {
  width: 100% !important;
}
.money-sections {
  width: 59.5%;
  margin: auto;
  margin-top: 8px;
  input {
    width: 68%;
  }
  .ui.input {
    width: 78%;
    border: 1px solid #cfcfcf;
  }

  .amount-value {
    .form-information {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .label {
        margin: auto 0px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .phone-bank {
    .new-dest-bank {
      .new-bank-account {
        width: 100%;
      }
    }
  }
}
