@import '../../../assets/styles/mixin';

$secondary-grey: rgb(241, 243, 247);
$main-dark: #333556;
$default-white: #fff;

.Wrapper {
  width: 61.5rem;
  height: fit-content;
  background-color: #fff;
  border-radius: 4px;
  margin-left: 6rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}
.Steps {
  margin-left: 6rem;
}

.Providers {
  height: fit-content;
  width: 26rem;
  border-radius: 4px;
  margin: 4rem 1rem 0rem 1rem;
  padding-bottom: 1rem;
  padding-top: 0.7rem;
}
.Actions {
  padding: 0.5rem 1rem;
}

.CountryTitle,
.ProviderTitle {
  color: $main-dark;
  margin-left: 1rem;
}
.CountryTitle {
  padding-top: 1rem !important;
}
.ProviderTitle {
  color: $main-dark;
  margin-left: 1rem;
  padding-top: 1rem;
}
.Countries {
  width: 26rem;
  height: 3.5rem;
  margin-left: 1rem;
  margin-top: -0.7rem;
}

.Search {
  margin-bottom: 2rem;
}
