.wrap-topup-form {
  margin: 0 auto;
  display: block;
  max-width: 400px;
}
.dest-country-bank,
.dest-counties {
  width: 100;
  margin: 0 auto;
  display: block;
  justify-content: space-between;
}
.add-new-phone {
  input {
    height: 46px !important;
  }
}
.amount-input {
  .ui.input {
    width: 100%;
    margin-right: 5px;
    padding: 4px 0 !important;
  }
}
.react-tel-input .form-control {
  width: 100% !important;
}
@media only screen and (max-width: 768px) {
  .phone-bank {
    .new-dest-bank {
      .new-bank-account {
        width: 100%;
      }
    }
  }
}
