.inner-area1 {
  margin: 30px 30px 0px 30px;
  display: inline-block;
  width: 80%;
  .rightText {
    padding-left: 24px;
  }
  .heading-text {
    display: flex;
    margin-top: -10px;
    align-items: center;
    .goBack {
      cursor: pointer;
    }
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 30px 50px;
    border-radius: 5px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-content: flex-start;

    .item {
      display: flex;
      width: fit-content;
      background-color: white;
      flex-direction: column;
      padding: 10px 5px 10px 20px;
      cursor: pointer;
      align-items: flex-start;
      .username {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        padding-top: 10px;
        align-items: center;
        text-align: center;
        color: #333556;
      }
    }
  }
}

.inner-area {
  margin: 30px 5px;
  .main-container {
    margin-left: 78px;
    .app-pagination {
      display: flex;
      justify-content: space-between;
      width: 84%;
    }
    .all-contacts {
      width: 84%;
      .addImage {
        position: fixed;
        cursor: pointer;
        right: 3%;
        top: 45%;
        &:hover {
          transform: scale(1.1);
          transition: all;
        }
      }
    }
    .all-contacts-top-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ui[class*='left icon'].input > input {
        transition: all 500ms ease-out;
        width: 200px;
      }
      .ui[class*='left icon'].input > input:focus {
        width: 300px;
        transition: all 500ms ease-out;
      }
    }
    .contact-list {
      border: 5px solid white;
      border-radius: 5px;
      background: white;
      padding-top: 10px;
    }
    .contact-item {
      cursor: pointer;
      display: flex;
      background-color: white;
      padding: 15px 34px;
      justify-content: space-between;
      .texts {
        flex: 1;
        margin-left: 10px;
        .nametext {
          font-weight: 300;
          font-size: 19px;
          margin: auto;
          line-height: 21px;
        }
        .sub-text {
          font-weight: 300;
          opacity: 0.8;
          font-size: 15px;
          line-height: 16px;
        }
      }
      .icons {
        display: flex;
        flex-wrap: wrap;
        .iconItem {
          padding-left: 18px;
        }
      }
    }
  }
}

.flag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .account {
    flex: 1;
    margin: auto;
    padding-left: 5px;
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;
  }
}

.ui.multiple.dropdown > .label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

.errorLoaderSection {
  margin: 5px 30px 5px 54px;
}

.loading-error-section {
  margin-right: 15px;
}

@media (max-width: 700px) {
  .inner-area1 {
    width: 90%;
  }
  .inner-area {

    .main-container {
      .all-contacts {
        .all-contacts-top-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .addImage {
            margin-top: -40px;
            position: fixed;
            right: 20px;
          }
        }
      }
    }
  }
  .ui.multiple.dropdown > .label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
  }
  .errorLoaderSection {
    margin: 5px 0px 5px 25px;
  }
  .loading-error-section {
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  .inner-area1 {
    margin: 30px 0px 0px 5px;
    .heading-text .goBack {
      display: none;
    }
    .image-container {
      margin: 20px 0px 30px 24px;
    }
  }
  .inner-area {
    margin: 30px 0px 0px -20px;

    .main-container {
      margin-left: 53px;
      .all-contacts {
        width: 100%;

        .addImage {
          top: 38%;
        }
      }
      .all-contacts-top-wrapper {
        .ui[class*='left icon'].input > input:focus {
          width: 230px;
          transition: all 500ms ease-out;
        }
      }

      .app-pagination {
        width: 100%;
      }
    }
  }
}
