@import '../../../assets/styles/dimensions';

.u-card {
  width: 420px;
  height: 240px;
  border-radius: 10px;
}

.u-card:after {
  background-image: url('../../../assets/images/logo.png');
  background-position: center;
  opacity: 0.02;
  content: '';
  position: absolute;
  z-index: 1;

  background-size: 90px;
  width: 420px;
  height: 240px;

  border-radius: 8px;
}

.u-card-front {
  position: fixed;
  padding: 10px;
  z-index: 2;
  width: 420px;
  height: 240px;
  color: #ffffff;
  &__column-one {
    &__thumbnail {
      .thumbnail {
        width: 90px !important;
        height: 90px !important;
      }
      &__verified {
        height: 40px;
        width: 40px;

        margin-top: -30px;
        margin-left: 60px;
      }
    }
  }
  &__column-two {
    width: 45%;
    line-height: 20px;
    &__info {
      font-size: 15px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;

      &__u-card-text {
        &__pts {
          background: #ea5726;
          border-radius: 50px;
          padding: 0px 15px;
          text-align: center;
          font-size: 12px;
          margin-top: 3px;
        }
      }
    }
    &__info span:nth-child(2),
    &__info span:nth-child(4) {
      font-weight: 1;
    }

    &__info span:nth-child(2) {
      margin-top: 10px;
    }
  }
  &__column-three {
    &__user-level-info {
      margin: auto;
      img {
        height: 75px;
        width: 75px;
      }
      &__status-name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;

        font-size: 12px;
        letter-spacing: 0.02em;
        margin-top: 10px;
      }
    }
  }

  &__row-two {
    margin-top: 25px;

    &__user-info {
      font-family: Montserrat;
      font-style: normal;
      & span:first-child {
        font-weight: 600;
      }
      & span:nth-child(2) {
        font-weight: 300;
      }
    }

    &__card-QR {
      margin-top: -10px;
      height: 90px;
      width: 90px;
      margin-left: 55px;
    }
  }
}

@media (min-width: 450px) and (max-width: 900px) {
  .u-card {
    width: 440px !important;
    height: 260px !important;
  }
  .u-card:after {
    width: 440px;
    height: 260px;
  }

  .u-card-front {
    width: 440px;
    height: 260px;
    &__column-one {
      &__thumbnail {
        .thumbnail {
          width: 90px !important;
          height: 90px !important;
        }
        &__verified {
          height: 40px;
          width: 40px;

          margin-top: -30px;
          margin-left: 50px;
        }
      }
    }

    &__column-two {
      width: 45%;

      &__info {
        font-size: 15px;

        &__u-card-text {
          &__pts {
            font-size: 13px;
            margin-top: 3px;
          }
        }
      }
    }
    &__column-three {
      &__user-level-info {
        img {
          height: 100px;
          width: 100px;
        }
        &__status-name {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }

    &__row-two {
      margin-top: 15px;

      &__card-QR {
        height: 100px;
        width: 100px;
        margin-top: -3px !important;
        margin-left: 55px;
      }
    }
  }
}

@media (max-width: 440px) {
  .u-card {
    width: $ucard-width;
    height: $ucard-height;
  }
  .u-card:after {
    width: $ucard-width;
    height: $ucard-height;
  }

  .u-card-front {
    width: $ucard-width;
    height: $ucard-height;
    &__column-one {
      &__thumbnail {
        .thumbnail {
          width: 70px !important;
          height: 70px !important;
        }
        &__verified {
          height: 30px;
          width: 30px;

          margin-top: -30px;
          margin-left: 50px;
        }
      }
    }

    &__column-two {
      width: 40%;

      &__info {
        font-size: 14px;

        &__u-card-text {
          &__pts {
            font-size: 12px;
            margin-top: 3px;
          }
        }
      }
    }
    &__column-three {
      &__user-level-info {
        img {
          height: 70px;
          width: 70px;
        }
        &__status-name {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }

    &__row-two {
      margin-top: 8px;

      &__card-QR {
        height: 80px;
        width: 80px;
        margin-top: -3px !important;
        margin-left: 55px;
      }
    }
  }
}

@media print {
  .MembershipCard {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: $A4-width !important;
    height: $A4-height !important;
    background-color: #fff;
  }

  .u-card {
    width: $ucard-width;
    height: $ucard-height;
  }
  .u-card:after {
    width: $ucard-width;
    height: $ucard-height;
  }

  .u-card-front {
    width: $ucard-width;
    height: $ucard-height;
    &__column-one {
      &__thumbnail {
        .thumbnail {
          width: 70px !important;
          height: 70px !important;
        }
        &__verified {
          height: 30px;
          width: 30px;

          margin-top: -30px;
          margin-left: 50px;
        }
      }
    }

    &__column-two {
      width: 40%;

      &__info {
        font-size: 14px;

        &__u-card-text {
          &__pts {
            font-size: 12px;
            margin-top: 3px;
          }
        }
      }
    }
    &__column-three {
      &__user-level-info {
        img {
          height: 70px;
          width: 70px;
        }
        &__status-name {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }

    &__row-two {
      margin-top: 8px;

      &__card-QR {
        height: 70px;
        width: 70px;
        margin-top: -10px !important;
        margin-left: 55px;
      }
    }
  }
}
