.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 10000px;
  min-width: 270px;
  max-width: 270px;
  padding: 0 0 32px 0;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-275px);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5),
    0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background-color: #282b4e;
  .sidenav__close-icon {
    display: none;
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    color: #ddd;
    background: none;
    border: none;
  }
  &.active-sidebar {
    transform: translateX(0);
    .sidenav__close-icon {
      display: inline-block;
    }
  }

  .dash_logo {
    width: 100%;
    margin: 0;
    padding: 15px 5px;
    background-color: #333556;
  }
  .dash_logo img {
    width: 160px;
    margin: 0 5px;
  }
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes sonar {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul > li {
    padding: 5px 0;
    position: relative;
    border-bottom: 0.5px solid rgba(51, 53, 86, 0.5);
  }
  .sidebar ul li a:hover {
    background: rgba(51, 53, 86, 0.1);
  }
  .sidebar ul li img {
    position: absolute;
    left: 16px;
    height: 22px;
    top: 16px;
  }
  .sidebar > ul > li > a {
    display: block;
    padding: 15px 12px 15px 55px;
  }
  .sidebar_caret {
    width: 11px;
    height: 11px;
    padding-left: 8px;
  }
  .sidebar ul > li button {
    display: block;
    padding: 15px 12px 15px 55px;
    border: none;
    background: none;
  }
  .sidebar ul > li:focus {
    outline: none;
  }
  .sidebar .sidebar-submenu li {
    display: block;
    padding: 10px 12px 10px 55px;
  }
  .sidebar li .sidebar-submenu {
    display: none;
  }
  .sidebar li.active .sidebar-submenu {
    display: block;
  }
  .sidebar .sidebar-dropdown.active .sidebar_caret {
    transform: rotate(90deg);
    padding: 0px;
    opacity: 0.3;
  }
  @media only screen and (max-width: 776px) {
    .sidenav__close-icon {
      display: block;
    }
  }
}
.sidebar button,
.sidebar a,
.sidebar li {
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
