@import 'src/assets/styles/mixins';

.CardDisabled {
   border: solid #3335560e 1px;
   border-radius: 5px;
   width: 30rem;
   margin: auto;
   display: flex;
   height: 13rem;
   margin-bottom: 0.7rem;
   background-color: #2f314b09;
   color: #33355663;

   .CardCheck {
      width: 20%;
      height: 100%;
      background-color: #e9e9e9;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;

      img {
         width: 55%;
         margin-top: 60%;
      }
   }

   .RightSide {
      width: 100%;
      padding-left: 1rem;
      padding-top: 1rem;

      .CardContent {
         padding: 0.9rem;
         display: flex;
         width: 95%;
         height: 90%;
         border: solid #9494942a 1px;
         border-radius: 5px;
         justify-content: space-between;

         .LevelIcon {
            width: 27%;
         }

         img {
            width: 100%;
         }

         &:hover {
            cursor: not-allowed;
         }
      }
   }

   &:hover {
      cursor: not-allowed;
   }
}

.CardContainer {
   border: solid #33355621 1px;
   border-radius: 5px;
   width: 30rem;
   margin: auto;
   display: flex;
   height: 13rem;
   margin-bottom: 0.7rem;

   .CardCheck {
      width: 20%;
      height: 100%;
      background-color: #e9e9e9;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;

      img {
         width: 55%;
         margin-top: 60%;
      }
   }

   .RightSide {
      width: 100%;
      padding-left: 1rem;
      padding-top: 1rem;

      .CardContent {
         padding: 0.9rem;
         display: flex;
         width: 95%;
         height: 90%;
         border: solid #94949462 1px;
         border-radius: 5px;
         justify-content: space-between;

         .LevelIcon {
            width: 27%;
         }

         img {
            width: 100%;
         }

         &:hover {
            border: solid rgba(234, 87, 38, 0.137) 1px;
            cursor: pointer;
         }
      }
   }

   &:hover {
      border: solid rgba(234, 87, 38, 0.726) 1px;
      cursor: pointer;
   }
}

.VisaCard {
   grid-area: VisaCard;
   border: solid #94949462 1px;
   width: 100%;
   border-radius: 5px;
   padding: 0.2rem 0.5rem;
   display: inline-flex;
   height: 3rem;

   img {
      width: 23%;
   }

   span {
      margin-left: 0.5rem;
      margin-top: 0.6rem;
   }

   &:hover {
      border: solid rgba(234, 87, 38, 0.7) 1px;
      cursor: pointer;
   }
}

.MasterCard {
   display: inline-flex;
   padding: 0.2rem 0.5rem;
   grid-area: MasterCard;
   border: solid #94949462 1px;
   width: 100%;
   border-radius: 5px;
   height: 3rem;

   img {
      width: 23%;
   }

   span {
      margin-left: 0.5rem;
      margin-top: 0.6rem;
   }

   &:hover {
      border: solid rgba(234, 87, 38, 0.7) 1px;
      cursor: pointer;
   }
}

.CardHeaderConainter {
   padding: 1rem;
   border: solid #33355621 1px;
   border-radius: 5px;
   width: 30rem;
   margin: auto;
   height: 13rem;
   display: grid;
   grid-template-areas:
      'VisaCard MasterCard'
      'WalletContainer WalletContainer';
   row-gap: 0.8rem;
   column-gap: 0.8rem;
   margin-bottom: 0.5rem;

   .WalletContainer {
      grid-area: WalletContainer;
      width: 100%;
      background-color: #e9e9e9;
      border-radius: 5px;
      padding: 0rem 0.8rem;
      margin-top: -3.2rem;

      .Wallet {
         display: inline-flex;

         span {
            margin-top: 1rem;
            margin-left: 0.7rem;
         }

         .WalletImg {
            width: 2.3rem;
            height: 1.6rem;
            padding-top: 1.3rem !important;

            img {
               width: 100% !important;
            }
         }
      }

      .Balance {
         margin-left: 3rem;
      }
   }

}

.SecondaryTitle {
   text-align: center;
   font-size: 1rem;
   font-weight: 100;
}

.ThirdTitle {
   text-align: center;
   font-size: 0.8rem;
   font-weight: 100;
   width: 57%;
   margin: auto;
}
.PinForm{
   width: 50%;
   margin: 0 auto;
}
@include respond-to(mobile) {
   .CardDisabled {
      width: 20rem;
   }
   .PinForm{
      width: 80% !important;
      margin: 0 auto;
      .PinSegment{
         width: 293px !important;
      }
   }

   .CardContainer {
      width: 20rem;
      font-size: .7rem;
   }

   .CardHeaderConainter {
      width: 23rem;

      .PlaceHolder {
         width: 21rem !important;
      }
   }
}

@include respond-to(mobile-landscape) {
   .CardDisabled {
      width: 23rem;
      font-size: .8rem;
   }
   .PinForm{
      width: 80% !important;
      margin: 0 auto;
      .PinSegment{
         width: 293px !important;
      }
   }

   .CardContainer {
      width: 23rem;
      font-size: .8rem;
   }

   .CardHeaderConainter {
      width: 23rem;

      .PlaceHolder {
         width: 21rem !important;
      }
   }

}
