.service-ratings {
  .wrap-service-ratings {
    width: 104px;
    height: 20px;
    position: relative;
    background: #ededed;
  }
  .wrap-service-ratings::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('https://res.cloudinary.com/ninjas/image/upload/v1593375619/star-ratings_jcr4fk.svg');
    background-position: top left;
    background-size: 104px 20px;
    background-attachment: cover;
  }
  .wrap-service-ratings button {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    top: 0;
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
  }
  .wrap-service-ratings div {
    height: 20px;
    max-width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: #ea5726;
  }

  .ratings-count {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    margin: auto;
    padding-left: 10px;
    margin-left: 5px;
  }
}
