.SelectLanguage {
  position: absolute;
  right: 3%;
  z-index: 10;

  top: 3%;
  .language-icon {
    width: 30px;
  }

  .language-trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .lang-text {
      margin-right: 5px;
    }
  }
}

@media (max-width: 600px) {
  .SelectLanguage {
    .ui.dropdown .menu {
      left: -68px !important;
    }
  }
}

@media (max-width: 398px) {
  .SelectLanguage {
    .ui.dropdown .menu {
      left: -145px !important;
    }
  }
}
