.SelectLanguage {
  position: absolute;
  right: 3%;
  z-index: 10;

  top: 3%;
  .display-language-icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .language-icon {
      width: 30px;
      margin: 0 auto;
    }
    .lang-text {
      margin-right: 10px;
    }
  }
}

@media (max-width: 600px) {
  .SelectLanguage {
    .ui.dropdown .menu {
      left: -68px !important;
    }
  }
}

@media (max-width: 398px) {
  .SelectLanguage {
    .ui.dropdown .menu {
      left: -145px !important;
    }
  }
}
