.display-card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .left-side {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card-image-container {
      img {
        height: 100%;
        width: 12rem;
      }
    }
    .left-details {
      display: block;
      padding-top: 1rem;
      margin-left: 1rem;
      span {
        display: block;
        line-height: 2;
      }
      .left-details-action {
        @media (max-width: 320px) {
          display: flex;
          flex-direction: column;
        }
        span {
          display: inline;
          margin-right: 5px;

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
        &:hover {
          cursor: pointer;
        }
        .copy-icon {
          display: inline-block;
          padding-right: 0.5rem;
        }
      }
    }
  }
  .right-side {
    padding-top: 20px;
    font-size: 1.4rem;
    .card-currency {
      padding-bottom: 15px;
    }
    strong {
      font-weight: 500;
    }
    span {
      display: block;
    }
    button {
      float: right;
    }
  }
}
@media (max-width: 540px) {
  .display-card-box {
    flex-direction: column;

    .right-side {
      padding: 1rem;
      button {
        float: unset !important;
      }
    }
  }
}
